In [261]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [262]:
from pandas.io.data import DataReader
# from pandas_datareader import data, wb
import pandas as pd
import numpy as np

In [263]:
symbols = ['MSFT', 'GOOG', 'AAPL']

import datetime
start = datetime.datetime(2016, 12, 31)
end = datetime.datetime(2017, 1, 10)

## Data from Yahoo

In [264]:
data = dict((sym, DataReader(sym, "yahoo", start, end))
          for sym in symbols)

In [265]:
data['AAPL'].index

DatetimeIndex(['2017-01-03', '2017-01-04', '2017-01-05', '2017-01-06',
               '2017-01-09', '2017-01-10'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [266]:
dfa = data['AAPL']
dfa['New']  = np.arange( dfa.shape[1] )

dfg = data['GOOG']
dfg['New'] = np.arange( dfg. shape[1] )[::-1]

## Concat along columns

## The column is now multi-index

In [267]:
d=pd.concat( [data['AAPL'], data['GOOG']], axis=1, keys=['AAPL', 'GOOG'], names=["ticker", "attr"])

In [268]:
d

ticker            AAPL                                                \
attr              Open        High         Low       Close    Volume
Date
2017-01-03  115.800003  116.330002  114.760002  116.150002  28781900
2017-01-04  115.849998  116.510002  115.750000  116.019997  21118100
2017-01-05  115.919998  116.860001  115.809998  116.610001  22193600
2017-01-06  116.779999  118.160004  116.470001  117.910004  31751900
2017-01-09  117.949997  119.430000  117.940002  118.989998  33561900
2017-01-10  118.769997  119.379997  118.300003  119.110001  24462100

ticker                            GOOG                                      \
attr         Adj Close New        Open        High         Low       Close
Date
2017-01-03  115.173203   0  778.809998  789.630005  775.799988  786.140015
2017-01-04  115.044292   1  788.359985  791.340027  783.159973  786.900024
2017-01-05  115.629334   2  786.080017  794.479980  785.020020  794.020020
2017-01-06  116.918404   3  795.260010  807.900024  792.203979  806.150024
2017-01-09  117.989316   4  806.400024  809.966003  802.830017  806.650024
2017-01-10  118.108310   5  807.859985  809.130005  803.510010  804.789978

ticker
attr         Volume   Adj Close New
Date
2017-01-03  1643100  786.140015   5
2017-01-04  1065400  786.900024   4
2017-01-05  1315400  794.020020   3
2017-01-06  1620500  806.150024   2
2017-01-09  1272400  806.650024   1
2017-01-10  1174300  804.789978   0

In [269]:
idx = pd.IndexSlice
o = d.loc[ idx[:],  idx[:,'New']]
o.columns

MultiIndex(levels=[['AAPL', 'GOOG'], ['Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close', 'New']],
           labels=[[0, 1], [6, 6]],
           names=['ticker', 'attr'])

In [270]:
d
ds = d.stack(level=0)
ds

ticker            AAPL                                                \
attr              Open        High         Low       Close    Volume
Date
2017-01-03  115.800003  116.330002  114.760002  116.150002  28781900
2017-01-04  115.849998  116.510002  115.750000  116.019997  21118100
2017-01-05  115.919998  116.860001  115.809998  116.610001  22193600
2017-01-06  116.779999  118.160004  116.470001  117.910004  31751900
2017-01-09  117.949997  119.430000  117.940002  118.989998  33561900
2017-01-10  118.769997  119.379997  118.300003  119.110001  24462100

ticker                            GOOG                                      \
attr         Adj Close New        Open        High         Low       Close
Date
2017-01-03  115.173203   0  778.809998  789.630005  775.799988  786.140015
2017-01-04  115.044292   1  788.359985  791.340027  783.159973  786.900024
2017-01-05  115.629334   2  786.080017  794.479980  785.020020  794.020020
2017-01-06  116.918404   3  795.260010  807.900024  792.203979  806.150024
2017-01-09  117.989316   4  806.400024  809.966003  802.830017  806.650024
2017-01-10  118.108310   5  807.859985  809.130005  803.510010  804.789978

ticker
attr         Volume   Adj Close New
Date
2017-01-03  1643100  786.140015   5
2017-01-04  1065400  786.900024   4
2017-01-05  1315400  794.020020   3
2017-01-06  1620500  806.150024   2
2017-01-09  1272400  806.650024   1
2017-01-10  1174300  804.789978   0

attr                     Open        High         Low       Close    Volume  \
Date       ticker
2017-01-03 AAPL    115.800003  116.330002  114.760002  116.150002  28781900
           GOOG    778.809998  789.630005  775.799988  786.140015   1643100
2017-01-04 AAPL    115.849998  116.510002  115.750000  116.019997  21118100
           GOOG    788.359985  791.340027  783.159973  786.900024   1065400
2017-01-05 AAPL    115.919998  116.860001  115.809998  116.610001  22193600
           GOOG    786.080017  794.479980  785.020020  794.020020   1315400
2017-01-06 AAPL    116.779999  118.160004  116.470001  117.910004  31751900
           GOOG    795.260010  807.900024  792.203979  806.150024   1620500
2017-01-09 AAPL    117.949997  119.430000  117.940002  118.989998  33561900
           GOOG    806.400024  809.966003  802.830017  806.650024   1272400
2017-01-10 AAPL    118.769997  119.379997  118.300003  119.110001  24462100
           GOOG    807.859985  809.130005  803.510010  804.789978   1174300

attr                Adj Close  New
Date       ticker
2017-01-03 AAPL    115.173203    0
           GOOG    786.140015    5
2017-01-04 AAPL    115.044292    1
           GOOG    786.900024    4
2017-01-05 AAPL    115.629334    2
           GOOG    794.020020    3
2017-01-06 AAPL    116.918404    3
           GOOG    806.150024    2
2017-01-09 AAPL    117.989316    4
           GOOG    806.650024    1
2017-01-10 AAPL    118.108310    5
           GOOG    804.789978    0

In [271]:
fs = ds.groupby(level=1).pct_change()
fs
f1= fs.unstack()
f1

attr                   Open      High       Low     Close    Volume  \
Date       ticker
2017-01-03 AAPL         NaN       NaN       NaN       NaN       NaN
           GOOG         NaN       NaN       NaN       NaN       NaN
2017-01-04 AAPL    0.000432  0.001547  0.008627 -0.001119 -0.266272
           GOOG    0.012262  0.002166  0.009487  0.000967 -0.351592
2017-01-05 AAPL    0.000604  0.003004  0.000518  0.005085  0.050928
           GOOG   -0.002892  0.003968  0.002375  0.009048  0.234654
2017-01-06 AAPL    0.007419  0.011124  0.005699  0.011148  0.430678
           GOOG    0.011678  0.016892  0.009151  0.015277  0.231945
2017-01-09 AAPL    0.010019  0.010748  0.012621  0.009159  0.057004
           GOOG    0.014008  0.002557  0.013413  0.000620 -0.214810
2017-01-10 AAPL    0.006952 -0.000419  0.003052  0.001009 -0.271135
           GOOG    0.001810 -0.001032  0.000847 -0.002306 -0.077098

attr               Adj Close       New
Date       ticker
2017-01-03 AAPL          NaN       NaN
           GOOG          NaN       NaN
2017-01-04 AAPL    -0.001119       inf
           GOOG     0.000967 -0.200000
2017-01-05 AAPL     0.005085  1.000000
           GOOG     0.009048 -0.250000
2017-01-06 AAPL     0.011148  0.500000
           GOOG     0.015277 -0.333333
2017-01-09 AAPL     0.009159  0.333333
           GOOG     0.000620 -0.500000
2017-01-10 AAPL     0.001009  0.250000
           GOOG    -0.002306 -1.000000

attr            Open                High                 Low            \
ticker          AAPL      GOOG      AAPL      GOOG      AAPL      GOOG
Date
2017-01-03       NaN       NaN       NaN       NaN       NaN       NaN
2017-01-04  0.000432  0.012262  0.001547  0.002166  0.008627  0.009487
2017-01-05  0.000604 -0.002892  0.003004  0.003968  0.000518  0.002375
2017-01-06  0.007419  0.011678  0.011124  0.016892  0.005699  0.009151
2017-01-09  0.010019  0.014008  0.010748  0.002557  0.012621  0.013413
2017-01-10  0.006952  0.001810 -0.000419 -0.001032  0.003052  0.000847

attr           Close              Volume           Adj Close            \
ticker          AAPL      GOOG      AAPL      GOOG      AAPL      GOOG
Date
2017-01-03       NaN       NaN       NaN       NaN       NaN       NaN
2017-01-04 -0.001119  0.000967 -0.266272 -0.351592 -0.001119  0.000967
2017-01-05  0.005085  0.009048  0.050928  0.234654  0.005085  0.009048
2017-01-06  0.011148  0.015277  0.430678  0.231945  0.011148  0.015277
2017-01-09  0.009159  0.000620  0.057004 -0.214810  0.009159  0.000620
2017-01-10  0.001009 -0.002306 -0.271135 -0.077098  0.001009 -0.002306

attr             New
ticker          AAPL      GOOG
Date
2017-01-03       NaN       NaN
2017-01-04       inf -0.200000
2017-01-05  1.000000 -0.250000
2017-01-06  0.500000 -0.333333
2017-01-09  0.333333 -0.500000
2017-01-10  0.250000 -1.000000

In [272]:

g1 = f1.swaplevel(axis=1, i=1, j=0)
g1

f1.index
g1.index

ticker,AAPL,GOOG,AAPL,GOOG,AAPL,GOOG,AAPL,GOOG,AAPL,GOOG,AAPL,GOOG,AAPL,GOOG
attr,Open,Open,High,High,Low,Low,Close,Close,Volume,Volume,Adj Close,Adj Close,New,New
Date,,,,,,,,,,,,,,
2017-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-04,0.000432,0.012262,0.001547,0.002166,0.008627,0.009487,-0.001119,0.000967,-0.266272,-0.351592,-0.001119,0.000967,inf,-0.200000
2017-01-05,0.000604,-0.002892,0.003004,0.003968,0.000518,0.002375,0.005085,0.009048,0.050928,0.234654,0.005085,0.009048,1.000000,-0.250000
2017-01-06,0.007419,0.011678,0.011124,0.016892,0.005699,0.009151,0.011148,0.015277,0.430678,0.231945,0.011148,0.015277,0.500000,-0.333333
2017-01-09,0.010019,0.014008,0.010748,0.002557,0.012621,0.013413,0.009159,0.000620,0.057004,-0.214810,0.009159,0.000620,0.333333,-0.500000
2017-01-10,0.006952,0.001810,-0.000419,-0.001032,0.003052,0.000847,0.001009,-0.002306,-0.271135,-0.077098,0.001009,-0.002306,0.250000,-1.000000

DatetimeIndex(['2017-01-03', '2017-01-04', '2017-01-05', '2017-01-06',
               '2017-01-09', '2017-01-10'],
              dtype='datetime64[ns]', name='Date', freq='B')

DatetimeIndex(['2017-01-03', '2017-01-04', '2017-01-05', '2017-01-06',
               '2017-01-09', '2017-01-10'],
              dtype='datetime64[ns]', name='Date', freq='B')

In [273]:
# Create a dictionary to rename the columns of g (append "Pct")

In [281]:
renameDict = dict( [ (c, c + ' Pct') for c in list( g.columns.levels[1] ) ] )
renameDict

{'Adj Close': 'Adj Close Pct',
 'Close': 'Close Pct',
 'High': 'High Pct',
 'Low': 'Low Pct',
 'New': 'New Pct',
 'Open': 'Open Pct',
 'Volume': 'Volume Pct'}

In [280]:
h = f.rename(index=str, columns= renameDict)
h
h1 = g1.rename(index=str, columns= renameDict)
h1

attr                        Open Pct  High Pct   Low Pct  Close Pct  \
Date                ticker
2017-01-03 00:00:00 AAPL         NaN       NaN       NaN        NaN
                    GOOG         NaN       NaN       NaN        NaN
2017-01-04 00:00:00 AAPL    0.000432  0.001547  0.008627  -0.001119
                    GOOG    0.012262  0.002166  0.009487   0.000967
2017-01-05 00:00:00 AAPL    0.000604  0.003004  0.000518   0.005085
                    GOOG   -0.002892  0.003968  0.002375   0.009048
2017-01-06 00:00:00 AAPL    0.007419  0.011124  0.005699   0.011148
                    GOOG    0.011678  0.016892  0.009151   0.015277
2017-01-09 00:00:00 AAPL    0.010019  0.010748  0.012621   0.009159
                    GOOG    0.014008  0.002557  0.013413   0.000620
2017-01-10 00:00:00 AAPL    0.006952 -0.000419  0.003052   0.001009
                    GOOG    0.001810 -0.001032  0.000847  -0.002306

attr                        Volume Pct  Adj Close Pct   New Pct
Date                ticker
2017-01-03 00:00:00 AAPL           NaN            NaN       NaN
                    GOOG           NaN            NaN       NaN
2017-01-04 00:00:00 AAPL     -0.266272      -0.001119       inf
                    GOOG     -0.351592       0.000967 -0.200000
2017-01-05 00:00:00 AAPL      0.050928       0.005085  1.000000
                    GOOG      0.234654       0.009048 -0.250000
2017-01-06 00:00:00 AAPL      0.430678       0.011148  0.500000
                    GOOG      0.231945       0.015277 -0.333333
2017-01-09 00:00:00 AAPL      0.057004       0.009159  0.333333
                    GOOG     -0.214810       0.000620 -0.500000
2017-01-10 00:00:00 AAPL     -0.271135       0.001009  0.250000
                    GOOG     -0.077098      -0.002306 -1.000000

ticker,AAPL,GOOG,AAPL,GOOG,AAPL,GOOG,AAPL,GOOG,AAPL,GOOG,AAPL,GOOG,AAPL,GOOG
attr,Open Pct,Open Pct,High Pct,High Pct,Low Pct,Low Pct,Close Pct,Close Pct,Volume Pct,Volume Pct,Adj Close Pct,Adj Close Pct,New Pct,New Pct
Date,,,,,,,,,,,,,,
2017-01-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-04 00:00:00,0.000432,0.012262,0.001547,0.002166,0.008627,0.009487,-0.001119,0.000967,-0.266272,-0.351592,-0.001119,0.000967,inf,-0.200000
2017-01-05 00:00:00,0.000604,-0.002892,0.003004,0.003968,0.000518,0.002375,0.005085,0.009048,0.050928,0.234654,0.005085,0.009048,1.000000,-0.250000
2017-01-06 00:00:00,0.007419,0.011678,0.011124,0.016892,0.005699,0.009151,0.011148,0.015277,0.430678,0.231945,0.011148,0.015277,0.500000,-0.333333
2017-01-09 00:00:00,0.010019,0.014008,0.010748,0.002557,0.012621,0.013413,0.009159,0.000620,0.057004,-0.214810,0.009159,0.000620,0.333333,-0.500000
2017-01-10 00:00:00,0.006952,0.001810,-0.000419,-0.001032,0.003052,0.000847,0.001009,-0.002306,-0.271135,-0.077098,0.001009,-0.002306,0.250000,-1.000000

## NOTE: somehow h.index became string even though f.index is Date
##  This will cause problems later when we try to concat

In [287]:
f.index
h.index

MultiIndex(levels=[[2017-01-03 00:00:00, 2017-01-04 00:00:00, 2017-01-05 00:00:00, 2017-01-06 00:00:00, 2017-01-09 00:00:00, 2017-01-10 00:00:00], ['AAPL', 'GOOG']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3, 4, 4, 5, 5], [0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]],
           names=['Date', 'ticker'])

MultiIndex(levels=[['2017-01-03 00:00:00', '2017-01-04 00:00:00', '2017-01-05 00:00:00', '2017-01-06 00:00:00', '2017-01-09 00:00:00', '2017-01-10 00:00:00'], ['AAPL', 'GOOG']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3, 4, 4, 5, 5], [0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]],
           names=['Date', 'ticker'])

## NOTE: somehow h1.index is now strings, whereas g1.index is Date

In [282]:
f.index
g1.index
h1.index
h.index
h1.columns

MultiIndex(levels=[[2017-01-03 00:00:00, 2017-01-04 00:00:00, 2017-01-05 00:00:00, 2017-01-06 00:00:00, 2017-01-09 00:00:00, 2017-01-10 00:00:00], ['AAPL', 'GOOG']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3, 4, 4, 5, 5], [0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]],
           names=['Date', 'ticker'])

DatetimeIndex(['2017-01-03', '2017-01-04', '2017-01-05', '2017-01-06',
               '2017-01-09', '2017-01-10'],
              dtype='datetime64[ns]', name='Date', freq='B')

Index(['2017-01-03 00:00:00', '2017-01-04 00:00:00', '2017-01-05 00:00:00',
       '2017-01-06 00:00:00', '2017-01-09 00:00:00', '2017-01-10 00:00:00'],
      dtype='object', name='Date')

MultiIndex(levels=[['2017-01-03 00:00:00', '2017-01-04 00:00:00', '2017-01-05 00:00:00', '2017-01-06 00:00:00', '2017-01-09 00:00:00', '2017-01-10 00:00:00'], ['AAPL', 'GOOG']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3, 4, 4, 5, 5], [0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]],
           names=['Date', 'ticker'])

MultiIndex(levels=[['AAPL', 'GOOG'], ['Adj Close Pct', 'Close Pct', 'High Pct', 'Low Pct', 'New Pct', 'Open Pct', 'Volume Pct']],
           labels=[[0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1], [5, 5, 2, 2, 3, 3, 1, 1, 6, 6, 0, 0, 4, 4]],
           names=['ticker', 'attr'])

In [285]:
ds

h

attr                     Open        High         Low       Close    Volume  \
Date       ticker
2017-01-03 AAPL    115.800003  116.330002  114.760002  116.150002  28781900
           GOOG    778.809998  789.630005  775.799988  786.140015   1643100
2017-01-04 AAPL    115.849998  116.510002  115.750000  116.019997  21118100
           GOOG    788.359985  791.340027  783.159973  786.900024   1065400
2017-01-05 AAPL    115.919998  116.860001  115.809998  116.610001  22193600
           GOOG    786.080017  794.479980  785.020020  794.020020   1315400
2017-01-06 AAPL    116.779999  118.160004  116.470001  117.910004  31751900
           GOOG    795.260010  807.900024  792.203979  806.150024   1620500
2017-01-09 AAPL    117.949997  119.430000  117.940002  118.989998  33561900
           GOOG    806.400024  809.966003  802.830017  806.650024   1272400
2017-01-10 AAPL    118.769997  119.379997  118.300003  119.110001  24462100
           GOOG    807.859985  809.130005  803.510010  804.789978   1174300

attr                Adj Close  New
Date       ticker
2017-01-03 AAPL    115.173203    0
           GOOG    786.140015    5
2017-01-04 AAPL    115.044292    1
           GOOG    786.900024    4
2017-01-05 AAPL    115.629334    2
           GOOG    794.020020    3
2017-01-06 AAPL    116.918404    3
           GOOG    806.150024    2
2017-01-09 AAPL    117.989316    4
           GOOG    806.650024    1
2017-01-10 AAPL    118.108310    5
           GOOG    804.789978    0

attr                        Open Pct  High Pct   Low Pct  Close Pct  \
Date                ticker
2017-01-03 00:00:00 AAPL         NaN       NaN       NaN        NaN
                    GOOG         NaN       NaN       NaN        NaN
2017-01-04 00:00:00 AAPL    0.000432  0.001547  0.008627  -0.001119
                    GOOG    0.012262  0.002166  0.009487   0.000967
2017-01-05 00:00:00 AAPL    0.000604  0.003004  0.000518   0.005085
                    GOOG   -0.002892  0.003968  0.002375   0.009048
2017-01-06 00:00:00 AAPL    0.007419  0.011124  0.005699   0.011148
                    GOOG    0.011678  0.016892  0.009151   0.015277
2017-01-09 00:00:00 AAPL    0.010019  0.010748  0.012621   0.009159
                    GOOG    0.014008  0.002557  0.013413   0.000620
2017-01-10 00:00:00 AAPL    0.006952 -0.000419  0.003052   0.001009
                    GOOG    0.001810 -0.001032  0.000847  -0.002306

attr                        Volume Pct  Adj Close Pct   New Pct
Date                ticker
2017-01-03 00:00:00 AAPL           NaN            NaN       NaN
                    GOOG           NaN            NaN       NaN
2017-01-04 00:00:00 AAPL     -0.266272      -0.001119       inf
                    GOOG     -0.351592       0.000967 -0.200000
2017-01-05 00:00:00 AAPL      0.050928       0.005085  1.000000
                    GOOG      0.234654       0.009048 -0.250000
2017-01-06 00:00:00 AAPL      0.430678       0.011148  0.500000
                    GOOG      0.231945       0.015277 -0.333333
2017-01-09 00:00:00 AAPL      0.057004       0.009159  0.333333
                    GOOG     -0.214810       0.000620 -0.500000
2017-01-10 00:00:00 AAPL     -0.271135       0.001009  0.250000
                    GOOG     -0.077098      -0.002306 -1.000000

## BIG IMPORTANT TRICK: make sure e and h have the 
## SAME index before concat
### even though ds.index and h.index look the same, they are apparantly NOT
## One is date, the other is string !

In [286]:
ds.index
h.index
ds.index == h.index

pd.concat([ds, h], axis=1)

hc = h.copy()
hc.index = ds.index
pd.concat([ds, hc], axis=1)

MultiIndex(levels=[[2017-01-03 00:00:00, 2017-01-04 00:00:00, 2017-01-05 00:00:00, 2017-01-06 00:00:00, 2017-01-09 00:00:00, 2017-01-10 00:00:00], ['AAPL', 'GOOG']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3, 4, 4, 5, 5], [0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]],
           names=['Date', 'ticker'])

MultiIndex(levels=[['2017-01-03 00:00:00', '2017-01-04 00:00:00', '2017-01-05 00:00:00', '2017-01-06 00:00:00', '2017-01-09 00:00:00', '2017-01-10 00:00:00'], ['AAPL', 'GOOG']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3, 4, 4, 5, 5], [0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]],
           names=['Date', 'ticker'])

array([False, False, False, False, False, False, False, False, False,
       False, False, False], dtype=bool)

attr                     Open        High         Low       Close    Volume  \
Date       ticker
2017-01-03 AAPL    115.800003  116.330002  114.760002  116.150002  28781900
           GOOG    778.809998  789.630005  775.799988  786.140015   1643100
2017-01-04 AAPL    115.849998  116.510002  115.750000  116.019997  21118100
           GOOG    788.359985  791.340027  783.159973  786.900024   1065400
2017-01-05 AAPL    115.919998  116.860001  115.809998  116.610001  22193600
           GOOG    786.080017  794.479980  785.020020  794.020020   1315400
2017-01-06 AAPL    116.779999  118.160004  116.470001  117.910004  31751900
           GOOG    795.260010  807.900024  792.203979  806.150024   1620500
2017-01-09 AAPL    117.949997  119.430000  117.940002  118.989998  33561900
           GOOG    806.400024  809.966003  802.830017  806.650024   1272400
2017-01-10 AAPL    118.769997  119.379997  118.300003  119.110001  24462100
           GOOG    807.859985  809.130005  803.510010  804.789978   1174300
2017-01-03 AAPL    115.800003  116.330002  114.760002  116.150002  28781900
           GOOG    778.809998  789.630005  775.799988  786.140015   1643100
2017-01-04 AAPL    115.849998  116.510002  115.750000  116.019997  21118100
           GOOG    788.359985  791.340027  783.159973  786.900024   1065400
2017-01-05 AAPL    115.919998  116.860001  115.809998  116.610001  22193600
           GOOG    786.080017  794.479980  785.020020  794.020020   1315400
2017-01-06 AAPL    116.779999  118.160004  116.470001  117.910004  31751900
           GOOG    795.260010  807.900024  792.203979  806.150024   1620500
2017-01-09 AAPL    117.949997  119.430000  117.940002  118.989998  33561900
           GOOG    806.400024  809.966003  802.830017  806.650024   1272400
2017-01-10 AAPL    118.769997  119.379997  118.300003  119.110001  24462100
           GOOG    807.859985  809.130005  803.510010  804.789978   1174300

attr                Adj Close  New  Open Pct  High Pct  Low Pct  Close Pct  \
Date       ticker
2017-01-03 AAPL    115.173203    0       NaN       NaN      NaN        NaN
           GOOG    786.140015    5       NaN       NaN      NaN        NaN
2017-01-04 AAPL    115.044292    1       NaN       NaN      NaN        NaN
           GOOG    786.900024    4       NaN       NaN      NaN        NaN
2017-01-05 AAPL    115.629334    2       NaN       NaN      NaN        NaN
           GOOG    794.020020    3       NaN       NaN      NaN        NaN
2017-01-06 AAPL    116.918404    3       NaN       NaN      NaN        NaN
           GOOG    806.150024    2       NaN       NaN      NaN        NaN
2017-01-09 AAPL    117.989316    4       NaN       NaN      NaN        NaN
           GOOG    806.650024    1       NaN       NaN      NaN        NaN
2017-01-10 AAPL    118.108310    5       NaN       NaN      NaN        NaN
           GOOG    804.789978    0       NaN       NaN      NaN        NaN
2017-01-03 AAPL    115.173203    0       NaN       NaN      NaN        NaN
           GOOG    786.140015    5       NaN       NaN      NaN        NaN
2017-01-04 AAPL    115.044292    1       NaN       NaN      NaN        NaN
           GOOG    786.900024    4       NaN       NaN      NaN        NaN
2017-01-05 AAPL    115.629334    2       NaN       NaN      NaN        NaN
           GOOG    794.020020    3       NaN       NaN      NaN        NaN
2017-01-06 AAPL    116.918404    3       NaN       NaN      NaN        NaN
           GOOG    806.150024    2       NaN       NaN      NaN        NaN
2017-01-09 AAPL    117.989316    4       NaN       NaN      NaN        NaN
           GOOG    806.650024    1       NaN       NaN      NaN        NaN
2017-01-10 AAPL    118.108310    5       NaN       NaN      NaN        NaN
           GOOG    804.789978    0       NaN       NaN      NaN        NaN

attr               Volume Pct  Adj Close Pct  New Pct
Date       ticker
2017-01-03 AAPL           NaN            NaN      NaN
           GOOG           NaN            NaN      NaN
2017-01-04 AAPL           NaN            NaN      NaN
           GOOG           NaN            NaN      NaN
2017-01-05 AAPL           NaN            NaN      NaN
           GOOG           NaN            NaN      NaN
2017-01-06 AAPL           NaN            NaN      NaN
           GOOG           NaN            NaN      NaN
2017-01-09 AAPL           NaN            NaN      NaN
           GOOG           NaN            NaN      NaN
2017-01-10 AAPL           NaN            NaN      NaN
           GOOG           NaN            NaN      NaN
2017-01-03 AAPL           NaN            NaN      NaN
           GOOG           NaN            NaN      NaN
2017-01-04 AAPL           NaN            NaN      NaN
           GOOG           NaN            NaN      NaN
2017-01-05 AAPL           NaN            NaN      NaN
           GOOG           NaN            NaN      NaN
2017-01-06 AAPL           NaN            NaN      NaN
           GOOG           NaN            NaN      NaN
2017-01-09 AAPL           NaN            NaN      NaN
           GOOG           NaN            NaN      NaN
2017-01-10 AAPL           NaN            NaN      NaN
           GOOG           NaN            NaN      NaN

attr                     Open        High         Low       Close    Volume  \
Date       ticker
2017-01-03 AAPL    115.800003  116.330002  114.760002  116.150002  28781900
           GOOG    778.809998  789.630005  775.799988  786.140015   1643100
2017-01-04 AAPL    115.849998  116.510002  115.750000  116.019997  21118100
           GOOG    788.359985  791.340027  783.159973  786.900024   1065400
2017-01-05 AAPL    115.919998  116.860001  115.809998  116.610001  22193600
           GOOG    786.080017  794.479980  785.020020  794.020020   1315400
2017-01-06 AAPL    116.779999  118.160004  116.470001  117.910004  31751900
           GOOG    795.260010  807.900024  792.203979  806.150024   1620500
2017-01-09 AAPL    117.949997  119.430000  117.940002  118.989998  33561900
           GOOG    806.400024  809.966003  802.830017  806.650024   1272400
2017-01-10 AAPL    118.769997  119.379997  118.300003  119.110001  24462100
           GOOG    807.859985  809.130005  803.510010  804.789978   1174300

attr                Adj Close  New  Open Pct  High Pct   Low Pct  Close Pct  \
Date       ticker
2017-01-03 AAPL    115.173203    0       NaN       NaN       NaN        NaN
           GOOG    786.140015    5       NaN       NaN       NaN        NaN
2017-01-04 AAPL    115.044292    1  0.000432  0.001547  0.008627  -0.001119
           GOOG    786.900024    4  0.012262  0.002166  0.009487   0.000967
2017-01-05 AAPL    115.629334    2  0.000604  0.003004  0.000518   0.005085
           GOOG    794.020020    3 -0.002892  0.003968  0.002375   0.009048
2017-01-06 AAPL    116.918404    3  0.007419  0.011124  0.005699   0.011148
           GOOG    806.150024    2  0.011678  0.016892  0.009151   0.015277
2017-01-09 AAPL    117.989316    4  0.010019  0.010748  0.012621   0.009159
           GOOG    806.650024    1  0.014008  0.002557  0.013413   0.000620
2017-01-10 AAPL    118.108310    5  0.006952 -0.000419  0.003052   0.001009
           GOOG    804.789978    0  0.001810 -0.001032  0.000847  -0.002306

attr               Volume Pct  Adj Close Pct   New Pct
Date       ticker
2017-01-03 AAPL           NaN            NaN       NaN
           GOOG           NaN            NaN       NaN
2017-01-04 AAPL     -0.266272      -0.001119       inf
           GOOG     -0.351592       0.000967 -0.200000
2017-01-05 AAPL      0.050928       0.005085  1.000000
           GOOG      0.234654       0.009048 -0.250000
2017-01-06 AAPL      0.430678       0.011148  0.500000
           GOOG      0.231945       0.015277 -0.333333
2017-01-09 AAPL      0.057004       0.009159  0.333333
           GOOG     -0.214810       0.000620 -0.500000
2017-01-10 AAPL     -0.271135       0.001009  0.250000
           GOOG     -0.077098      -0.002306 -1.000000

## Concat just does a join (which is special case or merge)
##  You can see that ds.index is not the same as h.index by the 
##   fact that the inner join is empty

In [306]:
pd.concat([ds, h ], axis=1, join='outer')
pd.concat([ds, h ], axis=1, join='inner')

attr                     Open        High         Low       Close    Volume  \
Date       ticker
2017-01-03 AAPL    115.800003  116.330002  114.760002  116.150002  28781900
           GOOG    778.809998  789.630005  775.799988  786.140015   1643100
2017-01-04 AAPL    115.849998  116.510002  115.750000  116.019997  21118100
           GOOG    788.359985  791.340027  783.159973  786.900024   1065400
2017-01-05 AAPL    115.919998  116.860001  115.809998  116.610001  22193600
           GOOG    786.080017  794.479980  785.020020  794.020020   1315400
2017-01-06 AAPL    116.779999  118.160004  116.470001  117.910004  31751900
           GOOG    795.260010  807.900024  792.203979  806.150024   1620500
2017-01-09 AAPL    117.949997  119.430000  117.940002  118.989998  33561900
           GOOG    806.400024  809.966003  802.830017  806.650024   1272400
2017-01-10 AAPL    118.769997  119.379997  118.300003  119.110001  24462100
           GOOG    807.859985  809.130005  803.510010  804.789978   1174300
2017-01-03 AAPL    115.800003  116.330002  114.760002  116.150002  28781900
           GOOG    778.809998  789.630005  775.799988  786.140015   1643100
2017-01-04 AAPL    115.849998  116.510002  115.750000  116.019997  21118100
           GOOG    788.359985  791.340027  783.159973  786.900024   1065400
2017-01-05 AAPL    115.919998  116.860001  115.809998  116.610001  22193600
           GOOG    786.080017  794.479980  785.020020  794.020020   1315400
2017-01-06 AAPL    116.779999  118.160004  116.470001  117.910004  31751900
           GOOG    795.260010  807.900024  792.203979  806.150024   1620500
2017-01-09 AAPL    117.949997  119.430000  117.940002  118.989998  33561900
           GOOG    806.400024  809.966003  802.830017  806.650024   1272400
2017-01-10 AAPL    118.769997  119.379997  118.300003  119.110001  24462100
           GOOG    807.859985  809.130005  803.510010  804.789978   1174300

attr                Adj Close  New  Open Pct  High Pct  Low Pct  Close Pct  \
Date       ticker
2017-01-03 AAPL    115.173203    0       NaN       NaN      NaN        NaN
           GOOG    786.140015    5       NaN       NaN      NaN        NaN
2017-01-04 AAPL    115.044292    1       NaN       NaN      NaN        NaN
           GOOG    786.900024    4       NaN       NaN      NaN        NaN
2017-01-05 AAPL    115.629334    2       NaN       NaN      NaN        NaN
           GOOG    794.020020    3       NaN       NaN      NaN        NaN
2017-01-06 AAPL    116.918404    3       NaN       NaN      NaN        NaN
           GOOG    806.150024    2       NaN       NaN      NaN        NaN
2017-01-09 AAPL    117.989316    4       NaN       NaN      NaN        NaN
           GOOG    806.650024    1       NaN       NaN      NaN        NaN
2017-01-10 AAPL    118.108310    5       NaN       NaN      NaN        NaN
           GOOG    804.789978    0       NaN       NaN      NaN        NaN
2017-01-03 AAPL    115.173203    0       NaN       NaN      NaN        NaN
           GOOG    786.140015    5       NaN       NaN      NaN        NaN
2017-01-04 AAPL    115.044292    1       NaN       NaN      NaN        NaN
           GOOG    786.900024    4       NaN       NaN      NaN        NaN
2017-01-05 AAPL    115.629334    2       NaN       NaN      NaN        NaN
           GOOG    794.020020    3       NaN       NaN      NaN        NaN
2017-01-06 AAPL    116.918404    3       NaN       NaN      NaN        NaN
           GOOG    806.150024    2       NaN       NaN      NaN        NaN
2017-01-09 AAPL    117.989316    4       NaN       NaN      NaN        NaN
           GOOG    806.650024    1       NaN       NaN      NaN        NaN
2017-01-10 AAPL    118.108310    5       NaN       NaN      NaN        NaN
           GOOG    804.789978    0       NaN       NaN      NaN        NaN

attr               Volume Pct  Adj Close Pct  New Pct
Date       ticker
2017-01-03 AAPL           NaN            NaN      NaN
           GOOG           NaN            NaN      NaN
2017-01-04 AAPL           NaN            NaN      NaN
           GOOG           NaN            NaN      NaN
2017-01-05 AAPL           NaN            NaN      NaN
           GOOG           NaN            NaN      NaN
2017-01-06 AAPL           NaN            NaN      NaN
           GOOG           NaN            NaN      NaN
2017-01-09 AAPL           NaN            NaN      NaN
           GOOG           NaN            NaN      NaN
2017-01-10 AAPL           NaN            NaN      NaN
           GOOG           NaN            NaN      NaN
2017-01-03 AAPL           NaN            NaN      NaN
           GOOG           NaN            NaN      NaN
2017-01-04 AAPL           NaN            NaN      NaN
           GOOG           NaN            NaN      NaN
2017-01-05 AAPL           NaN            NaN      NaN
           GOOG           NaN            NaN      NaN
2017-01-06 AAPL           NaN            NaN      NaN
           GOOG           NaN            NaN      NaN
2017-01-09 AAPL           NaN            NaN      NaN
           GOOG           NaN            NaN      NaN
2017-01-10 AAPL           NaN            NaN      NaN
           GOOG           NaN            NaN      NaN

Empty DataFrame
Columns: [Open, High, Low, Close, Volume, Adj Close, New, Open Pct, High Pct, Low Pct, Close Pct, Volume Pct, Adj Close Pct, New Pct]
Index: []

## Notice the subtle difference between 
###    pc2.columns and o.pct_change().columns
###   even though pc2 == o.pcth_change()
###  The columns map to the same elements in 
###     pc2.columns.levels
### BUT they have different labels ([0,6] vs [0,1]) (b/c of pc2.rename)
### I think this means that when
###    concat o with pc2
###  below, I get unexpected results b/c
### the matching of columns depends on columns.labels and NOT columns.levels

In [ ]:
pc = o.pct_change()
pc.columns

pc2 = pc.rename(index=str,columns={'New':  'New Ret'})
pc2.columns

In [ ]:
o.pct_change().columns

In [ ]:
pd.concat( [ o, pc2 ], axis=1)

In [ ]:
pd.concat( [ pc2, o], axis=1)

In [ ]:
def foo(col):
    print(col)
    return col[1]
    
a = n.groupby(foo, axis=1)

for name, group in a:
    print("Name: {n}, \n\tGroup: {g}".format(n=name, g=group))

In [ ]:
bydate = c.groupby(level=1)
for name, group in bydate:
        print("Group name: {gname}, group:\n\t{ggroup}\n\n".format(gname=name, ggroup=group))

In [ ]:
byticker = c.groupby(level=0)
for name, group in byticker:
        print("Group name: {gname}, group:\n\t{ggroup}\n\n".format(gname=name, ggroup=group))