In [282]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [283]:
from pandas.io.data import DataReader
# from pandas_datareader import data, wb
import pandas as pd
import numpy as np

In [284]:
symbols = ['MSFT', 'GOOG', 'AAPL']

import datetime
start = datetime.datetime(2016, 12, 31)
end = datetime.datetime(2017, 1, 10)

# Get data from Yahoo

In [285]:
data = dict((sym, DataReader(sym, "yahoo", start, end))
          for sym in symbols)

# data is a hash, keyed by ticker, whose elements are pandas
## Add a column named 'New' to the panda for each ticker

In [286]:
dfa = data['AAPL']
dfa['New']  = np.arange( dfa.shape[1] )

dfg = data['GOOG']
dfg['New'] = np.arange( dfg. shape[1] )[::-1]

# Concat the pandas for each ticker into one panda
##  Dimension 1 is date: this allows date-oriented manipulation on all attributes for all tickers
## Dimension 2 is indexed by a MultiIndex: (ticker, attribute) pair

In [287]:
d=pd.concat( [ dfa, dfg], axis=1, keys=['AAPL', 'GOOG'], names=["ticker", "attr"])
d

ticker            AAPL                                                \
attr              Open        High         Low       Close    Volume
Date
2017-01-03  115.800003  116.330002  114.760002  116.150002  28781900
2017-01-04  115.849998  116.510002  115.750000  116.019997  21118100
2017-01-05  115.919998  116.860001  115.809998  116.610001  22193600
2017-01-06  116.779999  118.160004  116.470001  117.910004  31751900
2017-01-09  117.949997  119.430000  117.940002  118.989998  33561900
2017-01-10  118.769997  119.379997  118.300003  119.110001  24462100

ticker                            GOOG                                      \
attr         Adj Close New        Open        High         Low       Close
Date
2017-01-03  115.173203   0  778.809998  789.630005  775.799988  786.140015
2017-01-04  115.044292   1  788.359985  791.340027  783.159973  786.900024
2017-01-05  115.629334   2  786.080017  794.479980  785.020020  794.020020
2017-01-06  116.918404   3  795.260010  807.900024  792.203979  806.150024
2017-01-09  117.989316   4  806.400024  809.966003  802.830017  806.650024
2017-01-10  118.108310   5  807.859985  809.130005  803.510010  804.789978

ticker
attr         Volume   Adj Close New
Date
2017-01-03  1643100  786.140015   5
2017-01-04  1065400  786.900024   4
2017-01-05  1315400  794.020020   3
2017-01-06  1620500  806.150024   2
2017-01-09  1272400  806.650024   1
2017-01-10  1174300  804.789978   0

# Perform a date-oriented operation: percent change on all columns

In [288]:
d_pct = d.pct_change()
d_pct

ticker          AAPL                                                    \
attr            Open      High       Low     Close    Volume Adj Close
Date
2017-01-03       NaN       NaN       NaN       NaN       NaN       NaN
2017-01-04  0.000432  0.001547  0.008627 -0.001119 -0.266272 -0.001119
2017-01-05  0.000604  0.003004  0.000518  0.005085  0.050928  0.005085
2017-01-06  0.007419  0.011124  0.005699  0.011148  0.430678  0.011148
2017-01-09  0.010019  0.010748  0.012621  0.009159  0.057004  0.009159
2017-01-10  0.006952 -0.000419  0.003052  0.001009 -0.271135  0.001009

ticker                    GOOG                                          \
attr             New      Open      High       Low     Close    Volume
Date
2017-01-03       NaN       NaN       NaN       NaN       NaN       NaN
2017-01-04       inf  0.012262  0.002166  0.009487  0.000967 -0.351592
2017-01-05  1.000000 -0.002892  0.003968  0.002375  0.009048  0.234654
2017-01-06  0.500000  0.011678  0.016892  0.009151  0.015277  0.231945
2017-01-09  0.333333  0.014008  0.002557  0.013413  0.000620 -0.214810
2017-01-10  0.250000  0.001810 -0.001032  0.000847 -0.002306 -0.077098

ticker
attr       Adj Close       New
Date
2017-01-03       NaN       NaN
2017-01-04  0.000967 -0.200000
2017-01-05  0.009048 -0.250000
2017-01-06  0.015277 -0.333333
2017-01-09  0.000620 -0.500000
2017-01-10 -0.002306 -1.000000

## Rename the columns of the percent change panda with suffice "Pct"

### First, create a map from old column name to new columns name

In [289]:
renameDict = dict( [ (c, c + ' Pct') for c in list( d_pct.columns.levels[1] ) ] )
renameDict

{'Adj Close': 'Adj Close Pct',
 'Close': 'Close Pct',
 'High': 'High Pct',
 'Low': 'Low Pct',
 'New': 'New Pct',
 'Open': 'Open Pct',
 'Volume': 'Volume Pct'}

In [290]:
d_pct_renamed = d_pct.rename(columns= renameDict)
d_pct_renamed

ticker          AAPL                                                         \
attr        Open Pct  High Pct   Low Pct Close Pct Volume Pct Adj Close Pct
Date
2017-01-03       NaN       NaN       NaN       NaN        NaN           NaN
2017-01-04  0.000432  0.001547  0.008627 -0.001119  -0.266272     -0.001119
2017-01-05  0.000604  0.003004  0.000518  0.005085   0.050928      0.005085
2017-01-06  0.007419  0.011124  0.005699  0.011148   0.430678      0.011148
2017-01-09  0.010019  0.010748  0.012621  0.009159   0.057004      0.009159
2017-01-10  0.006952 -0.000419  0.003052  0.001009  -0.271135      0.001009

ticker                    GOOG                                           \
attr         New Pct  Open Pct  High Pct   Low Pct Close Pct Volume Pct
Date
2017-01-03       NaN       NaN       NaN       NaN       NaN        NaN
2017-01-04       inf  0.012262  0.002166  0.009487  0.000967  -0.351592
2017-01-05  1.000000 -0.002892  0.003968  0.002375  0.009048   0.234654
2017-01-06  0.500000  0.011678  0.016892  0.009151  0.015277   0.231945
2017-01-09  0.333333  0.014008  0.002557  0.013413  0.000620  -0.214810
2017-01-10  0.250000  0.001810 -0.001032  0.000847 -0.002306  -0.077098

ticker
attr       Adj Close Pct   New Pct
Date
2017-01-03           NaN       NaN
2017-01-04      0.000967 -0.200000
2017-01-05      0.009048 -0.250000
2017-01-06      0.015277 -0.333333
2017-01-09      0.000620 -0.500000
2017-01-10     -0.002306 -1.000000

## A digression: bug in Pandas ?
## NO: was a problem only when rename used the "idx=string" arg !
### 
### Note the type of the index of d_pct before and after the renaming
#### d_pct.index are Dates, but d_pct_renamed.index are strings

In [291]:
d_pct.index
d_pct_renamed.index
list(d_pct.index) == list(d_pct_renamed.index)

DatetimeIndex(['2017-01-03', '2017-01-04', '2017-01-05', '2017-01-06',
               '2017-01-09', '2017-01-10'],
              dtype='datetime64[ns]', name='Date', freq='B')

DatetimeIndex(['2017-01-03', '2017-01-04', '2017-01-05', '2017-01-06',
               '2017-01-09', '2017-01-10'],
              dtype='datetime64[ns]', name='Date', freq='B')

True

### So the fact that d_pct_renamed.index is not same as d_pct.index means that
### join operations (like concat) won't find common keys
### Need to fix this by changing d_pct_renamed.index back to Date

In [292]:
# d_pct_renamed.index = d_pct.index
# list(d_pct.index) == list(d_pct_renamed.index)

# We can now modify Panda d to have Pct columns by joining it with d_pct_renamed

In [293]:
d_new = pd.concat( [ d, d_pct_renamed ], axis=1)
d_new

ticker            AAPL                                                \
attr              Open        High         Low       Close    Volume
Date
2017-01-03  115.800003  116.330002  114.760002  116.150002  28781900
2017-01-04  115.849998  116.510002  115.750000  116.019997  21118100
2017-01-05  115.919998  116.860001  115.809998  116.610001  22193600
2017-01-06  116.779999  118.160004  116.470001  117.910004  31751900
2017-01-09  117.949997  119.430000  117.940002  118.989998  33561900
2017-01-10  118.769997  119.379997  118.300003  119.110001  24462100

ticker                            GOOG                            ...     \
attr         Adj Close New        Open        High         Low    ...
Date                                                              ...
2017-01-03  115.173203   0  778.809998  789.630005  775.799988    ...
2017-01-04  115.044292   1  788.359985  791.340027  783.159973    ...
2017-01-05  115.629334   2  786.080017  794.479980  785.020020    ...
2017-01-06  116.918404   3  795.260010  807.900024  792.203979    ...
2017-01-09  117.989316   4  806.400024  809.966003  802.830017    ...
2017-01-10  118.108310   5  807.859985  809.130005  803.510010    ...

ticker           AAPL                              GOOG                      \
attr       Volume Pct Adj Close Pct   New Pct  Open Pct  High Pct   Low Pct
Date
2017-01-03        NaN           NaN       NaN       NaN       NaN       NaN
2017-01-04  -0.266272     -0.001119       inf  0.012262  0.002166  0.009487
2017-01-05   0.050928      0.005085  1.000000 -0.002892  0.003968  0.002375
2017-01-06   0.430678      0.011148  0.500000  0.011678  0.016892  0.009151
2017-01-09   0.057004      0.009159  0.333333  0.014008  0.002557  0.013413
2017-01-10  -0.271135      0.001009  0.250000  0.001810 -0.001032  0.000847

ticker
attr       Close Pct Volume Pct Adj Close Pct   New Pct
Date
2017-01-03       NaN        NaN           NaN       NaN
2017-01-04  0.000967  -0.351592      0.000967 -0.200000
2017-01-05  0.009048   0.234654      0.009048 -0.250000
2017-01-06  0.015277   0.231945      0.015277 -0.333333
2017-01-09  0.000620  -0.214810      0.000620 -0.500000
2017-01-10 -0.002306  -0.077098     -0.002306 -1.000000

[6 rows x 28 columns]

## Now let's try a column-oriented (MultiIndex) operation, per ticker

In [294]:
d_new_grouped = d_new.groupby(axis=1, level=0)

for name, group in d_new_grouped:
    print("Name: {n}, \n\tGroup: {g}\n\n".format(n=name, g=group))

# This is min across all attributes, per ticker
d_new_min_per_ticker = d_new_grouped.min()
d_new_min_per_ticker

Name: AAPL,
	Group: ticker            AAPL                                                \
attr              Open        High         Low       Close    Volume
Date
2017-01-03  115.800003  116.330002  114.760002  116.150002  28781900
2017-01-04  115.849998  116.510002  115.750000  116.019997  21118100
2017-01-05  115.919998  116.860001  115.809998  116.610001  22193600
2017-01-06  116.779999  118.160004  116.470001  117.910004  31751900
2017-01-09  117.949997  119.430000  117.940002  118.989998  33561900
2017-01-10  118.769997  119.379997  118.300003  119.110001  24462100

ticker                                                                         \
attr         Adj Close New  Open Pct  High Pct   Low Pct Close Pct Volume Pct
Date
2017-01-03  115.173203   0       NaN       NaN       NaN       NaN        NaN
2017-01-04  115.044292   1  0.000432  0.001547  0.008627 -0.001119  -0.266272
2017-01-05  115.629334   2  0.000604  0.003004  0.000518  0.005085   0.050928
2017-01-06  116.918404   3  0.007419  0.011124  0.005699  0.011148   0.430678
2017-01-09  117.989316   4  0.010019  0.010748  0.012621  0.009159   0.057004
2017-01-10  118.108310   5  0.006952 -0.000419  0.003052  0.001009  -0.271135

ticker
attr       Adj Close Pct   New Pct
Date
2017-01-03           NaN       NaN
2017-01-04     -0.001119       inf
2017-01-05      0.005085  1.000000
2017-01-06      0.011148  0.500000
2017-01-09      0.009159  0.333333
2017-01-10      0.001009  0.250000


Name: GOOG,
	Group: ticker            GOOG                                               \
attr              Open        High         Low       Close   Volume
Date
2017-01-03  778.809998  789.630005  775.799988  786.140015  1643100
2017-01-04  788.359985  791.340027  783.159973  786.900024  1065400
2017-01-05  786.080017  794.479980  785.020020  794.020020  1315400
2017-01-06  795.260010  807.900024  792.203979  806.150024  1620500
2017-01-09  806.400024  809.966003  802.830017  806.650024  1272400
2017-01-10  807.859985  809.130005  803.510010  804.789978  1174300

ticker                                                                         \
attr         Adj Close New  Open Pct  High Pct   Low Pct Close Pct Volume Pct
Date
2017-01-03  786.140015   5       NaN       NaN       NaN       NaN        NaN
2017-01-04  786.900024   4  0.012262  0.002166  0.009487  0.000967  -0.351592
2017-01-05  794.020020   3 -0.002892  0.003968  0.002375  0.009048   0.234654
2017-01-06  806.150024   2  0.011678  0.016892  0.009151  0.015277   0.231945
2017-01-09  806.650024   1  0.014008  0.002557  0.013413  0.000620  -0.214810
2017-01-10  804.789978   0  0.001810 -0.001032  0.000847 -0.002306  -0.077098

ticker
attr       Adj Close Pct   New Pct
Date
2017-01-03           NaN       NaN
2017-01-04      0.000967 -0.200000
2017-01-05      0.009048 -0.250000
2017-01-06      0.015277 -0.333333
2017-01-09      0.000620 -0.500000
2017-01-10     -0.002306 -1.000000

ticker          AAPL      GOOG
Date
2017-01-03  0.000000  5.000000
2017-01-04 -0.266272 -0.351592
2017-01-05  0.000518 -0.250000
2017-01-06  0.005699 -0.333333
2017-01-09  0.009159 -0.500000
2017-01-10 -0.271135 -1.000000

## We need to add a MultiIndex column name to d_new_min

In [295]:
min_per_ticker_labels = [ (t, 'Ticker attr rank') for t in d_new_min_per_ticker.columns]
col_multi = pd.MultiIndex.from_tuples(min_labels, names=['t', 'a'])
col_multi

MultiIndex(levels=[['AAPL', 'GOOG'], ['Ticker Min']],
           labels=[[0, 1], [0, 0]],
           names=['t', 'a'])

### Change the columns via reindex, "broadcasting" (joining) on MultiIndex name 't'
#### i.e., use the name 't' from the MultiIndex to index into d_new_min.columns

In [296]:
d_new_min_per_ticker_multi = d_new_min_per_ticker.reindex(columns=col_multi, level='t')
d_new_min_per_ticker_multi.columns
d_new_min_per_ticker_multi

MultiIndex(levels=[['AAPL', 'GOOG'], ['Ticker Min']],
           labels=[[0, 1], [0, 0]],
           names=['t', 'a'])

t                AAPL       GOOG
a          Ticker Min Ticker Min
Date
2017-01-03   0.000000   5.000000
2017-01-04  -0.266272  -0.351592
2017-01-05   0.000518  -0.250000
2017-01-06   0.005699  -0.333333
2017-01-09   0.009159  -0.500000
2017-01-10  -0.271135  -1.000000

### Concatenate and use sortlevel (as usual) to re-order the MultiIndex 
### into canonical form

In [297]:
d_new2 = pd.concat( [ d_new, d_new_min_per_ticker_multi], axis=1).sortlevel(axis=1)
d_new2

ticker            AAPL                                                  \
attr         Adj Close Adj Close Pct       Close Close Pct        High
Date
2017-01-03  115.173203           NaN  116.150002       NaN  116.330002
2017-01-04  115.044292     -0.001119  116.019997 -0.001119  116.510002
2017-01-05  115.629334      0.005085  116.610001  0.005085  116.860001
2017-01-06  116.918404      0.011148  117.910004  0.011148  118.160004
2017-01-09  117.989316      0.009159  118.989998  0.009159  119.430000
2017-01-10  118.108310      0.001009  119.110001  0.001009  119.379997

ticker                                                      ...          GOOG  \
attr        High Pct         Low   Low Pct New   New Pct    ...      High Pct
Date                                                        ...
2017-01-03       NaN  114.760002       NaN   0       NaN    ...           NaN
2017-01-04  0.001547  115.750000  0.008627   1       inf    ...      0.002166
2017-01-05  0.003004  115.809998  0.000518   2  1.000000    ...      0.003968
2017-01-06  0.011124  116.470001  0.005699   3  0.500000    ...      0.016892
2017-01-09  0.010748  117.940002  0.012621   4  0.333333    ...      0.002557
2017-01-10 -0.000419  118.300003  0.003052   5  0.250000    ...     -0.001032

ticker                                                                \
attr               Low   Low Pct New   New Pct        Open  Open Pct
Date
2017-01-03  775.799988       NaN   5       NaN  778.809998       NaN
2017-01-04  783.159973  0.009487   4 -0.200000  788.359985  0.012262
2017-01-05  785.020020  0.002375   3 -0.250000  786.080017 -0.002892
2017-01-06  792.203979  0.009151   2 -0.333333  795.260010  0.011678
2017-01-09  802.830017  0.013413   1 -0.500000  806.400024  0.014008
2017-01-10  803.510010  0.000847   0 -1.000000  807.859985  0.001810

ticker
attr       Ticker Min   Volume Volume Pct
Date
2017-01-03   5.000000  1643100        NaN
2017-01-04  -0.351592  1065400  -0.351592
2017-01-05  -0.250000  1315400   0.234654
2017-01-06  -0.333333  1620500   0.231945
2017-01-09  -0.500000  1272400  -0.214810
2017-01-10  -1.000000  1174300  -0.077098

[6 rows x 30 columns]

## Now, let's do a column-oriented operation, per attribute

In [304]:
d_new_grouped = d_new2.groupby(axis=1, level=1)

#for name, group in d_new_grouped:
#    print("Name: {n}, \n\tGroup: {g}\n\n".format(n=name, g=group))

# This is rank across all tickers, per attribute
d_new_rank_per_attr = d_new_grouped.rank()
d_new_rank_per_attr

ticker          AAPL                                                           \
attr       Adj Close Adj Close Pct Close Close Pct High High Pct  Low Low Pct
Date
2017-01-03       1.0           NaN   1.0       NaN  1.0      NaN  1.0     NaN
2017-01-04       1.0           1.0   1.0       1.0  1.0      1.0  1.0     1.0
2017-01-05       1.0           1.0   1.0       1.0  1.0      1.0  1.0     1.0
2017-01-06       1.0           1.0   1.0       1.0  1.0      1.0  1.0     1.0
2017-01-09       1.0           2.0   1.0       2.0  1.0      2.0  1.0     1.0
2017-01-10       1.0           2.0   1.0       2.0  1.0      2.0  1.0     2.0

ticker                     ...         GOOG                                 \
attr        New New Pct    ...     High Pct  Low Low Pct  New New Pct Open
Date                       ...
2017-01-03  1.0     NaN    ...          NaN  2.0     NaN  2.0     NaN  2.0
2017-01-04  1.0     NaN    ...          2.0  2.0     2.0  2.0     1.0  2.0
2017-01-05  1.0     2.0    ...          2.0  2.0     2.0  2.0     1.0  2.0
2017-01-06  2.0     2.0    ...          2.0  2.0     2.0  1.0     1.0  2.0
2017-01-09  2.0     2.0    ...          1.0  2.0     2.0  1.0     1.0  2.0
2017-01-10  2.0     2.0    ...          1.0  2.0     1.0  1.0     1.0  2.0

ticker
attr       Open Pct Ticker Min Volume Volume Pct
Date
2017-01-03      NaN        2.0    1.0        NaN
2017-01-04      2.0        1.0    1.0        1.0
2017-01-05      1.0        1.0    1.0        2.0
2017-01-06      2.0        1.0    1.0        1.0
2017-01-09      2.0        1.0    1.0        1.0
2017-01-10      1.0        1.0    1.0        2.0

[6 rows x 30 columns]

### Add a suffix to the column names

In [305]:
rank_labels = [ a + ' Rank' for a in d_new_rank_per_attr.columns.get_level_values(1) ]

# Note: we have to assign back to d_new_rank_per_attr.columns as the set_levels operation returns a 
##  MultiIndex -- i.e., it does not modify the DataFrame
d_new_rank_per_attr.columns = d_new_rank_per_attr.columns.set_levels(rank_labels, level='attr')
d_new_rank_per_attr

ticker               AAPL                                               \
attr       Adj Close Rank Adj Close Pct Rank Close Rank Close Pct Rank
Date
2017-01-03            1.0                NaN        1.0            NaN
2017-01-04            1.0                1.0        1.0            1.0
2017-01-05            1.0                1.0        1.0            1.0
2017-01-06            1.0                1.0        1.0            1.0
2017-01-09            1.0                2.0        1.0            2.0
2017-01-10            1.0                2.0        1.0            2.0

ticker                                                             \
attr       High Rank High Pct Rank Low Rank Low Pct Rank New Rank
Date
2017-01-03       1.0           NaN      1.0          NaN      1.0
2017-01-04       1.0           1.0      1.0          1.0      1.0
2017-01-05       1.0           1.0      1.0          1.0      1.0
2017-01-06       1.0           1.0      1.0          1.0      2.0
2017-01-09       1.0           2.0      1.0          1.0      2.0
2017-01-10       1.0           2.0      1.0          2.0      2.0

ticker                        ...                GOOG                        \
attr       New Pct Rank       ...       High Pct Rank Low Rank Low Pct Rank
Date                          ...
2017-01-03          NaN       ...                 NaN      2.0          NaN
2017-01-04          NaN       ...                 2.0      2.0          2.0
2017-01-05          2.0       ...                 2.0      2.0          2.0
2017-01-06          2.0       ...                 2.0      2.0          2.0
2017-01-09          2.0       ...                 1.0      2.0          2.0
2017-01-10          2.0       ...                 1.0      2.0          1.0

ticker                                                                    \
attr       New Rank New Pct Rank Open Rank Open Pct Rank Ticker Min Rank
Date
2017-01-03      2.0          NaN       2.0           NaN             2.0
2017-01-04      2.0          1.0       2.0           2.0             1.0
2017-01-05      2.0          1.0       2.0           1.0             1.0
2017-01-06      1.0          1.0       2.0           2.0             1.0
2017-01-09      1.0          1.0       2.0           2.0             1.0
2017-01-10      1.0          1.0       2.0           1.0             1.0

ticker
attr       Volume Rank Volume Pct Rank
Date
2017-01-03         1.0             NaN
2017-01-04         1.0             1.0
2017-01-05         1.0             2.0
2017-01-06         1.0             1.0
2017-01-09         1.0             1.0
2017-01-10         1.0             2.0

[6 rows x 30 columns]

## Finally: concatenate new columns and sort the MultiIndex

In [306]:
d_new3 = pd.concat( [ d_new, d_new_rank_per_attr], axis=1).sortlevel(axis=1)
d_new3

ticker            AAPL                                                  \
attr         Adj Close Adj Close Pct Adj Close Pct Rank Adj Close Rank
Date
2017-01-03  115.173203           NaN                NaN            1.0
2017-01-04  115.044292     -0.001119                1.0            1.0
2017-01-05  115.629334      0.005085                1.0            1.0
2017-01-06  116.918404      0.011148                1.0            1.0
2017-01-09  117.989316      0.009159                2.0            1.0
2017-01-10  118.108310      0.001009                2.0            1.0

ticker                                                                  \
attr             Close Close Pct Close Pct Rank Close Rank        High
Date
2017-01-03  116.150002       NaN            NaN        1.0  116.330002
2017-01-04  116.019997 -0.001119            1.0        1.0  116.510002
2017-01-05  116.610001  0.005085            1.0        1.0  116.860001
2017-01-06  117.910004  0.011148            1.0        1.0  118.160004
2017-01-09  118.989998  0.009159            2.0        1.0  119.430000
2017-01-10  119.110001  0.001009            2.0        1.0  119.379997

ticker                   ...         GOOG                                      \
attr        High Pct     ...     New Rank        Open  Open Pct Open Pct Rank
Date                     ...
2017-01-03       NaN     ...          2.0  778.809998       NaN           NaN
2017-01-04  0.001547     ...          2.0  788.359985  0.012262           2.0
2017-01-05  0.003004     ...          2.0  786.080017 -0.002892           1.0
2017-01-06  0.011124     ...          1.0  795.260010  0.011678           2.0
2017-01-09  0.010748     ...          1.0  806.400024  0.014008           2.0
2017-01-10 -0.000419     ...          1.0  807.859985  0.001810           1.0

ticker                                                                    \
attr       Open Rank Ticker Min Rank   Volume Volume Pct Volume Pct Rank
Date
2017-01-03       2.0             2.0  1643100        NaN             NaN
2017-01-04       2.0             1.0  1065400  -0.351592             1.0
2017-01-05       2.0             1.0  1315400   0.234654             2.0
2017-01-06       2.0             1.0  1620500   0.231945             1.0
2017-01-09       2.0             1.0  1272400  -0.214810             1.0
2017-01-10       2.0             1.0  1174300  -0.077098             2.0

ticker
attr       Volume Rank
Date
2017-01-03         1.0
2017-01-04         1.0
2017-01-05         1.0
2017-01-06         1.0
2017-01-09         1.0
2017-01-10         1.0

[6 rows x 58 columns]

### Demonstrate that the Close Pct Rank is correct for each day

In [307]:
d_new3.loc[ :, idx[:, [ 'Close Pct', 'Close Pct Rank'] ] ]

ticker          AAPL                     GOOG
attr       Close Pct Close Pct Rank Close Pct Close Pct Rank
Date
2017-01-03       NaN            NaN       NaN            NaN
2017-01-04 -0.001119            1.0  0.000967            2.0
2017-01-05  0.005085            1.0  0.009048            2.0
2017-01-06  0.011148            1.0  0.015277            2.0
2017-01-09  0.009159            2.0  0.000620            1.0
2017-01-10  0.001009            2.0 -0.002306            1.0

## Suppose we want to choose only the highest rank ticker per day

In [308]:

rank1 = d_new3.loc[:, idx[:,'Close Pct Rank']] == 1
rank1

ticker               AAPL           GOOG
attr       Close Pct Rank Close Pct Rank
Date
2017-01-03          False          False
2017-01-04           True          False
2017-01-05           True          False
2017-01-06           True          False
2017-01-09          False           True
2017-01-10          False           True

In [ ]:
d_new3.loc[:, idx[:,'Close Pct Rank']] * rank1

## Might think can multiply 'Close Pct' by rank1 as a way of selecting 
## one attribute ('Close Pct') based on a filter of another ('Close Pct Rank')
## But since column labels are different, can't multiply.
## First need to rename columns of rank1 to match the subset of d_new2

In [309]:
type(rank1)
d_new3.loc[:, idx[:,'Close Pct']] * rank1

rank1_mod = rank1.rename(columns={ 'Close Pct Rank': 'Close Pct'})
rank1_mod
d_new3.loc[:, idx[:,'Close Pct']] * rank1_mod

pandas.core.frame.DataFrame

ticker          AAPL                     GOOG
attr       Close Pct Close Pct Rank Close Pct Close Pct Rank
Date
2017-01-03       NaN            NaN       NaN            NaN
2017-01-04       NaN            NaN       NaN            NaN
2017-01-05       NaN            NaN       NaN            NaN
2017-01-06       NaN            NaN       NaN            NaN
2017-01-09       NaN            NaN       NaN            NaN
2017-01-10       NaN            NaN       NaN            NaN

ticker          AAPL      GOOG
attr       Close Pct Close Pct
Date
2017-01-03     False     False
2017-01-04      True     False
2017-01-05      True     False
2017-01-06      True     False
2017-01-09     False      True
2017-01-10     False      True

ticker          AAPL      GOOG
attr       Close Pct Close Pct
Date
2017-01-03       NaN       NaN
2017-01-04 -0.001119  0.000000
2017-01-05  0.005085  0.000000
2017-01-06  0.011148  0.000000
2017-01-09  0.000000  0.000620
2017-01-10  0.000000 -0.002306

## This shows that the column oriented approach for data representation
## with separate columns per ticker, makes selecting a different
## ticker per date (i.e., using rank1) difficult

## Row and column indexing don't seem to be on equal footing.
## Seems that row index has more flexible syntax for filtering:
### Consider: select rows where some column condition is true

In [310]:
aapl_rank1 =d_new3.loc[:, idx['AAPL', 'Close Pct Rank']] == 1
type(aapl_rank1)
aapl_rank1
d_new3.loc[ aapl_rank1 ]

pandas.core.series.Series

Date
2017-01-03    False
2017-01-04     True
2017-01-05     True
2017-01-06     True
2017-01-09    False
2017-01-10    False
Freq: B, Name: (AAPL, Close Pct Rank), dtype: bool

ticker            AAPL                                                  \
attr         Adj Close Adj Close Pct Adj Close Pct Rank Adj Close Rank
Date
2017-01-04  115.044292     -0.001119                1.0            1.0
2017-01-05  115.629334      0.005085                1.0            1.0
2017-01-06  116.918404      0.011148                1.0            1.0

ticker                                                                  \
attr             Close Close Pct Close Pct Rank Close Rank        High
Date
2017-01-04  116.019997 -0.001119            1.0        1.0  116.510002
2017-01-05  116.610001  0.005085            1.0        1.0  116.860001
2017-01-06  117.910004  0.011148            1.0        1.0  118.160004

ticker                   ...         GOOG                                      \
attr        High Pct     ...     New Rank        Open  Open Pct Open Pct Rank
Date                     ...
2017-01-04  0.001547     ...          2.0  788.359985  0.012262           2.0
2017-01-05  0.003004     ...          2.0  786.080017 -0.002892           1.0
2017-01-06  0.011124     ...          1.0  795.260010  0.011678           2.0

ticker                                                                    \
attr       Open Rank Ticker Min Rank   Volume Volume Pct Volume Pct Rank
Date
2017-01-04       2.0             1.0  1065400  -0.351592             1.0
2017-01-05       2.0             1.0  1315400   0.234654             2.0
2017-01-06       2.0             1.0  1620500   0.231945             1.0

ticker
attr       Volume Rank
Date
2017-01-04         1.0
2017-01-05         1.0
2017-01-06         1.0

[3 rows x 58 columns]

## How would we do equivalent on column filtering ?

## Form a mask for each ticker based on 'Close Pct Rank'
## Apply the mask for each ticker to it's 'Close Pct' column
## This gives a sub-series for each ticker
## The sub-series of different tickers are disjoint on date so can concat
##  them into a "union" series

In [442]:
dc = d_new3.loc[:, idx[:, [ 'Close Pct', 'Close Pct Rank'] ] ]

tickers = list(dc.columns.levels[0])

# Form a mask for each ticker's 'Close Pct Rank' indicating whether it is rank 1
r1 = dc.loc[:, idx[:, 'Close Pct Rank']] == 1
r1

# Form a dict mapping ticker to the 'Close Pct' for the ticker
close_pct_dict = dict( [ (t, dc.loc[:, idx[t, 'Close Pct']]) for t in tickers ] )

print("Close Pct Dict:\n")
close_pct_dict

# Iterate thru the tickers, apply the mask for the ticker to the 'Close Pct'
# Result is an array of Series, one per ticker
s = [ close_pct_dict[t][ r1.loc[:, idx[t, 'Close Pct Rank'] ] ] for t in tickers ]

# Join the series for each ticker (which are disjoint on dates) into one union series
pd.concat(s)

ticker               AAPL           GOOG
attr       Close Pct Rank Close Pct Rank
Date
2017-01-03          False          False
2017-01-04           True          False
2017-01-05           True          False
2017-01-06           True          False
2017-01-09          False           True
2017-01-10          False           True

Close Pct Dict:

{'AAPL': Date
 2017-01-03         NaN
 2017-01-04   -0.001119
 2017-01-05    0.005085
 2017-01-06    0.011148
 2017-01-09    0.009159
 2017-01-10    0.001009
 Freq: B, Name: (AAPL, Close Pct), dtype: float64, 'GOOG': Date
 2017-01-03         NaN
 2017-01-04    0.000967
 2017-01-05    0.009048
 2017-01-06    0.015277
 2017-01-09    0.000620
 2017-01-10   -0.002306
 Freq: B, Name: (GOOG, Close Pct), dtype: float64}

Date
2017-01-04   -0.001119
2017-01-05    0.005085
2017-01-06    0.011148
2017-01-09    0.000620
2017-01-10   -0.002306
dtype: float64

In [595]:
ticker_groups = d_new3.groupby(axis=1,level=0)

def foo(df):
    # print("foo df:\n", df)
    df2 = df.copy()
    df2.columns = df.columns.droplevel(0)
    # print("foo df2:\n", df2)
    
    close_pct = df2.loc[:, 'Close Pct']
    
    close_pct_rank = df2.loc[:,'Close Pct Rank']
    # print("close_pct rank: ", close_pct_rank)
    rank1 = (close_pct_rank == 1)
    # print("rank1: ", rank1)
    s = close_pct.loc[ rank1 ]
    df3 = pd.DataFrame(s)
    print("df3: ", df3)
    
   
    return df3
    
  
closePct_by_tg = ticker_groups.apply(foo)
closePct_by_tg
closePct_by_tg.columns = closePct_by_tg.columns.set_names(['ticker', 'foo'])
closePct_by_tg.columns = closePct_by_tg.columns.droplevel(1)
closePct_by_tg

# Use a non-group version of apply to iterate over the rows
# NOTE: df (the arg to lambda) still has an index (i.e., the ticker); need to drop it via list()
closePct_by_tg.apply(lambda df: pd.Series(list(df.dropna())), axis=1)

df3:              Close Pct
Date
2017-01-04  -0.001119
2017-01-05   0.005085
2017-01-06   0.011148
df3:              Close Pct
Date
2017-01-09   0.000620
2017-01-10  -0.002306

ticker          AAPL      GOOG
           Close Pct Close Pct
Date
2017-01-04 -0.001119       NaN
2017-01-05  0.005085       NaN
2017-01-06  0.011148       NaN
2017-01-09       NaN  0.000620
2017-01-10       NaN -0.002306

ticker          AAPL      GOOG
Date
2017-01-04 -0.001119       NaN
2017-01-05  0.005085       NaN
2017-01-06  0.011148       NaN
2017-01-09       NaN  0.000620
2017-01-10       NaN -0.002306

                   0
Date
2017-01-04 -0.001119
2017-01-05  0.005085
2017-01-06  0.011148
2017-01-09  0.000620
2017-01-10 -0.002306

In [378]:
def foo(df):
    print("Df: {d}\n\t".format(d=df))
   
    return df

dx = d_new3.loc[ :, idx[:, [ 'Open', 'Close']]] 
dx


dx.apply( foo )
type(dx)

dx.groupby(axis=1, level=0).apply(foo)

ticker            AAPL                    GOOG
attr             Close        Open       Close        Open
Date
2017-01-03  116.150002  115.800003  786.140015  778.809998
2017-01-04  116.019997  115.849998  786.900024  788.359985
2017-01-05  116.610001  115.919998  794.020020  786.080017
2017-01-06  117.910004  116.779999  806.150024  795.260010
2017-01-09  118.989998  117.949997  806.650024  806.400024
2017-01-10  119.110001  118.769997  804.789978  807.859985

Df: Date
2017-01-03    116.150002
2017-01-04    116.019997
2017-01-05    116.610001
2017-01-06    117.910004
2017-01-09    118.989998
2017-01-10    119.110001
Freq: B, Name: (AAPL, Close), dtype: float64

Df: Date
2017-01-03    115.800003
2017-01-04    115.849998
2017-01-05    115.919998
2017-01-06    116.779999
2017-01-09    117.949997
2017-01-10    118.769997
Freq: B, Name: (AAPL, Open), dtype: float64

Df: Date
2017-01-03    786.140015
2017-01-04    786.900024
2017-01-05    794.020020
2017-01-06    806.150024
2017-01-09    806.650024
2017-01-10    804.789978
Freq: B, Name: (GOOG, Close), dtype: float64

Df: Date
2017-01-03    778.809998
2017-01-04    788.359985
2017-01-05    786.080017
2017-01-06    795.260010
2017-01-09    806.400024
2017-01-10    807.859985
Freq: B, Name: (GOOG, Open), dtype: float64

ticker            AAPL                    GOOG
attr             Close        Open       Close        Open
Date
2017-01-03  116.150002  115.800003  786.140015  778.809998
2017-01-04  116.019997  115.849998  786.900024  788.359985
2017-01-05  116.610001  115.919998  794.020020  786.080017
2017-01-06  117.910004  116.779999  806.150024  795.260010
2017-01-09  118.989998  117.949997  806.650024  806.400024
2017-01-10  119.110001  118.769997  804.789978  807.859985

pandas.core.frame.DataFrame

Df: ticker            AAPL
attr             Close        Open
Date
2017-01-03  116.150002  115.800003
2017-01-04  116.019997  115.849998
2017-01-05  116.610001  115.919998
2017-01-06  117.910004  116.779999
2017-01-09  118.989998  117.949997
2017-01-10  119.110001  118.769997

Df: ticker            GOOG
attr             Close        Open
Date
2017-01-03  786.140015  778.809998
2017-01-04  786.900024  788.359985
2017-01-05  794.020020  786.080017
2017-01-06  806.150024  795.260010
2017-01-09  806.650024  806.400024
2017-01-10  804.789978  807.859985

ticker            AAPL                    GOOG
attr             Close        Open       Close        Open
Date
2017-01-03  116.150002  115.800003  786.140015  778.809998
2017-01-04  116.019997  115.849998  786.900024  788.359985
2017-01-05  116.610001  115.919998  794.020020  786.080017
2017-01-06  117.910004  116.779999  806.150024  795.260010
2017-01-09  118.989998  117.949997  806.650024  806.400024
2017-01-10  119.110001  118.769997  804.789978  807.859985

## Maybe, try an alternative data representation
## The Quantopian approach:
## Row index is MultiIndex (date, ticker) and columns are attributes
## Then, filtering rows amounts to choosing a subset of tickers per date
## Downside: have to do groupby('ticker') to do timeseries operations

# Alternative data representation:
## Dimension 1 is index by a MultiIndex: (date, ticker) pair

In [549]:
d
dd = d.stack(level=0)
dd

ticker            AAPL                                                \
attr              Open        High         Low       Close    Volume
Date
2017-01-03  115.800003  116.330002  114.760002  116.150002  28781900
2017-01-04  115.849998  116.510002  115.750000  116.019997  21118100
2017-01-05  115.919998  116.860001  115.809998  116.610001  22193600
2017-01-06  116.779999  118.160004  116.470001  117.910004  31751900
2017-01-09  117.949997  119.430000  117.940002  118.989998  33561900
2017-01-10  118.769997  119.379997  118.300003  119.110001  24462100

ticker                            GOOG                                      \
attr         Adj Close New        Open        High         Low       Close
Date
2017-01-03  115.173203   0  778.809998  789.630005  775.799988  786.140015
2017-01-04  115.044292   1  788.359985  791.340027  783.159973  786.900024
2017-01-05  115.629334   2  786.080017  794.479980  785.020020  794.020020
2017-01-06  116.918404   3  795.260010  807.900024  792.203979  806.150024
2017-01-09  117.989316   4  806.400024  809.966003  802.830017  806.650024
2017-01-10  118.108310   5  807.859985  809.130005  803.510010  804.789978

ticker
attr         Volume   Adj Close New
Date
2017-01-03  1643100  786.140015   5
2017-01-04  1065400  786.900024   4
2017-01-05  1315400  794.020020   3
2017-01-06  1620500  806.150024   2
2017-01-09  1272400  806.650024   1
2017-01-10  1174300  804.789978   0

attr                     Open        High         Low       Close    Volume  \
Date       ticker
2017-01-03 AAPL    115.800003  116.330002  114.760002  116.150002  28781900
           GOOG    778.809998  789.630005  775.799988  786.140015   1643100
2017-01-04 AAPL    115.849998  116.510002  115.750000  116.019997  21118100
           GOOG    788.359985  791.340027  783.159973  786.900024   1065400
2017-01-05 AAPL    115.919998  116.860001  115.809998  116.610001  22193600
           GOOG    786.080017  794.479980  785.020020  794.020020   1315400
2017-01-06 AAPL    116.779999  118.160004  116.470001  117.910004  31751900
           GOOG    795.260010  807.900024  792.203979  806.150024   1620500
2017-01-09 AAPL    117.949997  119.430000  117.940002  118.989998  33561900
           GOOG    806.400024  809.966003  802.830017  806.650024   1272400
2017-01-10 AAPL    118.769997  119.379997  118.300003  119.110001  24462100
           GOOG    807.859985  809.130005  803.510010  804.789978   1174300

attr                Adj Close  New
Date       ticker
2017-01-03 AAPL    115.173203    0
           GOOG    786.140015    5
2017-01-04 AAPL    115.044292    1
           GOOG    786.900024    4
2017-01-05 AAPL    115.629334    2
           GOOG    794.020020    3
2017-01-06 AAPL    116.918404    3
           GOOG    806.150024    2
2017-01-09 AAPL    117.989316    4
           GOOG    806.650024    1
2017-01-10 AAPL    118.108310    5
           GOOG    804.789978    0

## Now, can't do dimension 1 oriented operations like pct_change
## because row after  (date1, ticker1) is (date1, ticker2) NOT (date2, ticker1)
## Solve this by grouping by ticker and THEN peforming dimension 1 operation

### Let's see how the groupby works:

In [ ]:
dd_grouped = dd.groupby(level=1)
for name, group in dd_grouped:
    print("Name: {n}, \n\tGroup: {g}\n\n".format(n=name, g=group))

In [ ]:
dd_pct = dd.groupby(level=1).pct_change()
dd_pct

## Rename the columns of dd_pct with the "Pct" suffix, as for the first data representation

In [ ]:
dd_pct_renamed = dd_pct.rename(index=str, columns= renameDict)
dd_pct_renamed

## Again, rename as corrupted the type of the index
### i.e., dd_pct_renamed.index is now String, not Date
# NOTE: it is "corrupted" only is we use the 'index=str' arg in rename
## We preserve the error (and the "fix" to illustrate)

In [ ]:
dd_pct.index
dd_pct_renamed.index
list(dd_pct.index) == list(dd_pct_renamed.index)

## We fix this by copying the original index, as in the first data representation

In [ ]:
dd_pct_renamed.index = dd_pct.index
dd_new = pd.concat( [ dd, dd_pct_renamed], axis=1)
dd_new

## Let's try accessing the new columns
### We will discover that some indexing features, like IndexSlice,
### work ONLY if the index or MultiIndex is properly sorted
### The .loc operation below won't work until we sort the MultiIndex
### See: http://pandas.pydata.org/pandas-docs/stable/advanced.html#sorting-a-multiindex
###
### Note: this is true for slicing in general (not just MultiIndex): indices need to be sorted
### either via sort_index or sortlevel(axis=1)
###
### Se also: http://www.somebits.com/~nelson/pandas-multiindex-slice-demo.html
### for why not sorting gives you errors like:
'MultiIndex Slicing requires the index to be fully lexsorted tuple len (2), lexsort depth (1)'

In [ ]:
idx = pd.IndexSlice
d_new.columns

# The line below will give an error because the MultiIndex is not sorted
#d_new.loc[ :, idx[:, 'New Pct']]

# So sort the MultiIndex first and it will work
d_new.sortlevel(axis=1).columns
d_new.sortlevel(axis=1).loc[ :, idx[:, 'New Pct']]

# Sort it once and for all
d_new.sortlevel(axis=1, inplace=True)
d_new.loc[ :, idx[:, 'New Pct']]

# Just for fun: let's turn dd_new into dd

In [548]:
dd_new
dd_new_unstack = dd_new.unstack()
dd_new_unstack
dd_new_unstack2  = dd_new_unstack.swaplevel(axis=1, i=1, j=0)
dd_new_unstack2

attr                     Open        High         Low       Close    Volume  \
Date       ticker
2017-01-03 AAPL    115.800003  116.330002  114.760002  116.150002  28781900
           GOOG    778.809998  789.630005  775.799988  786.140015   1643100
2017-01-04 AAPL    115.849998  116.510002  115.750000  116.019997  21118100
           GOOG    788.359985  791.340027  783.159973  786.900024   1065400
2017-01-05 AAPL    115.919998  116.860001  115.809998  116.610001  22193600
           GOOG    786.080017  794.479980  785.020020  794.020020   1315400
2017-01-06 AAPL    116.779999  118.160004  116.470001  117.910004  31751900
           GOOG    795.260010  807.900024  792.203979  806.150024   1620500
2017-01-09 AAPL    117.949997  119.430000  117.940002  118.989998  33561900
           GOOG    806.400024  809.966003  802.830017  806.650024   1272400
2017-01-10 AAPL    118.769997  119.379997  118.300003  119.110001  24462100
           GOOG    807.859985  809.130005  803.510010  804.789978   1174300

attr                Adj Close  New  Open Pct  High Pct   Low Pct  Close Pct  \
Date       ticker
2017-01-03 AAPL    115.173203    0       NaN       NaN       NaN        NaN
           GOOG    786.140015    5       NaN       NaN       NaN        NaN
2017-01-04 AAPL    115.044292    1  0.000432  0.001547  0.008627  -0.001119
           GOOG    786.900024    4  0.012262  0.002166  0.009487   0.000967
2017-01-05 AAPL    115.629334    2  0.000604  0.003004  0.000518   0.005085
           GOOG    794.020020    3 -0.002892  0.003968  0.002375   0.009048
2017-01-06 AAPL    116.918404    3  0.007419  0.011124  0.005699   0.011148
           GOOG    806.150024    2  0.011678  0.016892  0.009151   0.015277
2017-01-09 AAPL    117.989316    4  0.010019  0.010748  0.012621   0.009159
           GOOG    806.650024    1  0.014008  0.002557  0.013413   0.000620
2017-01-10 AAPL    118.108310    5  0.006952 -0.000419  0.003052   0.001009
           GOOG    804.789978    0  0.001810 -0.001032  0.000847  -0.002306

attr               Volume Pct  Adj Close Pct   New Pct
Date       ticker
2017-01-03 AAPL           NaN            NaN       NaN
           GOOG           NaN            NaN       NaN
2017-01-04 AAPL     -0.266272      -0.001119       inf
           GOOG     -0.351592       0.000967 -0.200000
2017-01-05 AAPL      0.050928       0.005085  1.000000
           GOOG      0.234654       0.009048 -0.250000
2017-01-06 AAPL      0.430678       0.011148  0.500000
           GOOG      0.231945       0.015277 -0.333333
2017-01-09 AAPL      0.057004       0.009159  0.333333
           GOOG     -0.214810       0.000620 -0.500000
2017-01-10 AAPL     -0.271135       0.001009  0.250000
           GOOG     -0.077098      -0.002306 -1.000000

attr              Open                    High                     Low  \
ticker            AAPL        GOOG        AAPL        GOOG        AAPL
Date
2017-01-03  115.800003  778.809998  116.330002  789.630005  114.760002
2017-01-04  115.849998  788.359985  116.510002  791.340027  115.750000
2017-01-05  115.919998  786.080017  116.860001  794.479980  115.809998
2017-01-06  116.779999  795.260010  118.160004  807.900024  116.470001
2017-01-09  117.949997  806.400024  119.430000  809.966003  117.940002
2017-01-10  118.769997  807.859985  119.379997  809.130005  118.300003

attr                         Close                Volume             ...     \
ticker            GOOG        AAPL        GOOG      AAPL     GOOG    ...
Date                                                                 ...
2017-01-03  775.799988  116.150002  786.140015  28781900  1643100    ...
2017-01-04  783.159973  116.019997  786.900024  21118100  1065400    ...
2017-01-05  785.020020  116.610001  794.020020  22193600  1315400    ...
2017-01-06  792.203979  117.910004  806.150024  31751900  1620500    ...
2017-01-09  802.830017  118.989998  806.650024  33561900  1272400    ...
2017-01-10  803.510010  119.110001  804.789978  24462100  1174300    ...

attr         Low Pct           Close Pct           Volume Pct            \
ticker          AAPL      GOOG      AAPL      GOOG       AAPL      GOOG
Date
2017-01-03       NaN       NaN       NaN       NaN        NaN       NaN
2017-01-04  0.008627  0.009487 -0.001119  0.000967  -0.266272 -0.351592
2017-01-05  0.000518  0.002375  0.005085  0.009048   0.050928  0.234654
2017-01-06  0.005699  0.009151  0.011148  0.015277   0.430678  0.231945
2017-01-09  0.012621  0.013413  0.009159  0.000620   0.057004 -0.214810
2017-01-10  0.003052  0.000847  0.001009 -0.002306  -0.271135 -0.077098

attr       Adj Close Pct             New Pct
ticker              AAPL      GOOG      AAPL      GOOG
Date
2017-01-03           NaN       NaN       NaN       NaN
2017-01-04     -0.001119  0.000967       inf -0.200000
2017-01-05      0.005085  0.009048  1.000000 -0.250000
2017-01-06      0.011148  0.015277  0.500000 -0.333333
2017-01-09      0.009159  0.000620  0.333333 -0.500000
2017-01-10      0.001009 -0.002306  0.250000 -1.000000

[6 rows x 28 columns]

ticker,AAPL,GOOG,AAPL,GOOG,AAPL,GOOG,AAPL,GOOG,AAPL,GOOG,...,AAPL,GOOG,AAPL,GOOG,AAPL,GOOG,AAPL,GOOG,AAPL,GOOG
attr,Open,Open,High,High,Low,Low,Close,Close,Volume,Volume,...,Low Pct,Low Pct,Close Pct,Close Pct,Volume Pct,Volume Pct,Adj Close Pct,Adj Close Pct,New Pct,New Pct
Date,,,,,,,,,,,,,,,,,,,,,
2017-01-03,115.800003,778.809998,116.330002,789.630005,114.760002,775.799988,116.150002,786.140015,28781900,1643100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-04,115.849998,788.359985,116.510002,791.340027,115.750000,783.159973,116.019997,786.900024,21118100,1065400,...,0.008627,0.009487,-0.001119,0.000967,-0.266272,-0.351592,-0.001119,0.000967,inf,-0.200000
2017-01-05,115.919998,786.080017,116.860001,794.479980,115.809998,785.020020,116.610001,794.020020,22193600,1315400,...,0.000518,0.002375,0.005085,0.009048,0.050928,0.234654,0.005085,0.009048,1.000000,-0.250000
2017-01-06,116.779999,795.260010,118.160004,807.900024,116.470001,792.203979,117.910004,806.150024,31751900,1620500,...,0.005699,0.009151,0.011148,0.015277,0.430678,0.231945,0.011148,0.015277,0.500000,-0.333333
2017-01-09,117.949997,806.400024,119.430000,809.966003,117.940002,802.830017,118.989998,806.650024,33561900,1272400,...,0.012621,0.013413,0.009159,0.000620,0.057004,-0.214810,0.009159,0.000620,0.333333,-0.500000
2017-01-10,118.769997,807.859985,119.379997,809.130005,118.300003,803.510010,119.110001,804.789978,24462100,1174300,...,0.003052,0.000847,0.001009,-0.002306,-0.271135,-0.077098,0.001009,-0.002306,0.250000,-1.000000

### Fix the MultiIndex by sorting, as we did for the first data representation

In [ ]:
dd_new_unstack2.sortlevel(axis=1, inplace=True)

In [ ]:
d_new.index
dd_new_unstack2.index
d_new.index == dd_new_unstack2.index

d_new.columns
dd_new_unstack2.columns
d_new.columns == dd_new_unstack2.columns

In [ ]:
d_new == dd_new_unstack2