In [136]:
# %load /tmp/t.py


# In[1]:

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Reload all modules imported with %aimport
get_ipython().magic('load_ext autoreload')
get_ipython().magic('autoreload 1')


# In[2]:

import pandas as pd
idx = pd.IndexSlice

from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.linear_model import LinearRegression

from datetime import timedelta

s = '2017-11-01'
e = '2017-12-20'

get_ipython().magic('aimport trans.data')
get_ipython().magic('aimport trans.gtrans')
get_ipython().magic('aimport trans.reg')

from trans.data import GetData as gd
from trans.gtrans import *

from trans.reg import Reg

from trans.gtrans import DataFrameFunctionTransformer 

pctTrans = DataFrameFunctionTransformer(func = lambda s: s.pct_change())
rankTrans = DataFrameFunctionTransformer(func = lambda s: s.rank(method="first"), axis=1)
pctOnlyTrans = GenSelectAttrsTransformer(['Pct'], dropSingle=False )


# In[3]:

get_ipython().magic('aimport trans.data')
ai = gd.combine_data(['FB', 'AAPL', 'AMZN', 
                           'NFLX', 'GOOG', 'SPY'])
ai.head()


# In[4]:

#all_ids = pd.concat([ all, ids_all ], axis=1)
#all_ids.head()
all_ids = gd.compile_data_all(['FB', 'AAPL', 'AMZN', 
                           'NFLX', 'GOOG', 'SPY'])
all_ids.head()
ai = all_ids.swaplevel(axis=1,i=0,j=1)
ai.sortlevel(axis=1, inplace=True)
ai.head()
#ai.loc[:, idx['Adj Close',:]].head()

pipe_close = make_pipeline(GenSelectAttrsTransformer(['Adj Close'], dropSingle=True )
                      )   

pipe_pct   = make_pipeline(GenSelectAttrsTransformer(['Adj Close'], dropSingle=True ), 
                         pctTrans,
                      )

featUn = GenDataFrameFeatureUnion( [ ("Adj Close", pipe_close),
                                    ("Pct", pipe_pct)
                                   ] )
fud = featUn.fit_transform(ai)
fud.tail()

lr=LinearRegression()

# Can set x_vals either of the two ways below: needed is to be a column, not a row
x_vals = fud.loc[s:e, idx["Pct", "SPY"]].values.reshape(-1,1)
x_vals = np.matrix( np.asarray(fud.loc[s:e, idx["Pct", "SPY"]])).T

y_vals = fud.loc[s:e, idx["Pct", "AAPL"]] 
lr.fit( x_vals,  y_vals)
lr.coef_
lr.intercept_

from trans.gtrans import *
fud2 =  DatetimeIndexTransformer("Dt").transform(fud)
fud2.head()
fud2.index


# In[5]:

from trans.reg import Reg

# Reduce to have only "Pct" attrs since all non-dep columns will become independents
get_ipython().magic('aimport trans.reg')

# pipe_pct_only = make_pipeline(GenSelectAttrsTransformer(['Pct'] )
pipe_pct_only   = make_pipeline(GenSelectAttrsTransformer(['Pct'], dropSingle=False ) )    

fup = pipe_pct_only.fit_transform(fud2)
r = Reg(fup)


# In[7]:

rn = Reg(fup.dropna(axis=0, how="any"))
ma = rn.modelCols( [ idx["Pct", "SPY"]])
(i,d) = ma

(a1, e1) = ("01/01/2000", "04/14/2000")

res_df = rn.rollingModel( i,  d[1], #idx["Pct", "AAPL"],
                 pd.to_datetime(a1,infer_datetime_format=True),
                 pd.to_datetime(e1, infer_datetime_format=True),
                 timedelta(weeks=4)
            )
res_df


# # One big pipeline, starting from raw data

# ## One pipeline to make data

# In[8]:

pipe_close = make_pipeline(GenSelectAttrsTransformer(['Adj Close'], dropSingle=True )
                      )   

pipe_pct   = make_pipeline(GenSelectAttrsTransformer(['Adj Close'], dropSingle=True ), 
                         pctTrans,
                      )

featUn = GenDataFrameFeatureUnion( [ ("Adj Close", GenSelectAttrsTransformer(['Adj Close'], dropSingle=True )),
                                    ("Pct", pipe_pct)
                                   ] )

data_pl = make_pipeline( featUn,
                         DatetimeIndexTransformer("Dt")
                       )

data_df = data_pl.fit_transform(ai)
data_df.head()


# ## Second pipeline to prepare the data for regression

# In[9]:

reg_input_pl = make_pipeline(  pctOnlyTrans,
                         RestrictToCalendarColTransformer( ("Pct", "SPY")),
                         RestrictToNonNullTransformer("all"),
                         # FillNullTransformer(method="bfill")
                       )

so1 = reg_input_pl.fit_transform(data_df)
so1.head()


# ## One big pipeline for both

# In[10]:

pipe_nn = make_pipeline( featUn,
                         DatetimeIndexTransformer("Dt"),
                         pctOnlyTrans,
                         RestrictToCalendarColTransformer( ("Pct", "SPY")),
                         RestrictToNonNullTransformer("all"),
                         # FillNullTransformer(method="bfill")
                       )
so2 = pipe_nn.fit_transform(ai)
so2.head()


# In[19]:


ra = Reg(so1)
ma = ra.modelCols( [ idx["Pct", "SPY"]])
ma

beta_df = ra.rollingModelAll( *ma, #idx["Pct", "AAPL"],
                 pd.to_datetime("01/01/2000",infer_datetime_format=True),
                 # pd.to_datetime("04/14/2000", infer_datetime_format=True),
                 pd.to_datetime("12/29/2017", infer_datetime_format=True),
                 timedelta(weeks=4)
            )
beta_df.tail()


# In[12]:

beta_df.shape


# ## Remember that the index for betas is at a lower frequency than index for data

# In[13]:

data_df.index
beta_df.index


# In[20]:


concatTrans = DataFrameConcat( [ data_df, beta_df ])
ret_and_beta_df = concatTrans.fit_transform(pd.DataFrame())
ret_and_beta_df.tail()
ret_and_beta_df.shape


# In[21]:

gd.save_data(data_df, "ret_df.pkl")
gd.save_data(beta_df, "beta_df.pkl")
gd.save_data(ret_and_beta_df, "ret_and_beta_df.pkl")


# In[1]:

ret_df = gd.load_data("ret_df.pkl")
beta_df = gd.load_data("beta_df.pkl")


# In[36]:

from trans.gtrans import *

concatTrans = DataFrameConcat( [ beta_df ])
r_and_b_df = concatTrans.fit_transform(ret_df)
r_and_b_df.tail()
r_and_b_df.shape

concatTrans = DataFrameConcat( [ ret_df, beta_df ])
r_and_b_df = concatTrans.fit_transform(pd.DataFrame())
r_and_b_df.tail( )
r_and_b_df.shape


# In[23]:

ret_and_beta_df = gd.load_data("ret_and_beta_df.pkl")


# In[25]:

cols = beta_df.columns.get_level_values(0).unique().tolist()
betaCols = [ c for c in cols if re.search('^Beta', c) ]

betaCols


# In[26]:

get_ipython().magic('aimport trans.gtrans')
beta_r_pl = make_pipeline( GenSelectAttrsTransformer(betaCols),
                            FillNullTransformer(method="ffill"),
                            GenRenameAttrsTransformer(lambda col: col + ' rolled fwd', level=0)
                         )
beta_rolled_df = beta_r_pl.fit_transform(ret_and_beta_df)
beta_rolled_df.tail()


# In[27]:

ret_and_beta_df.shape
beta_rolled_df.shape

ret_and_rolled_beta_pl = DataFrameConcat( [ ret_and_beta_df, beta_rolled_df])
ret_and_rolled_beta_df = ret_and_rolled_beta_pl.fit_transform( pd.DataFrame() )
ret_and_rolled_beta_df.tail()


# In[60]:

ret_and_rolled_beta_df.columns


# ## Really need to select Dep vars, ind vars, not just Pct

# In[29]:

ret_df = GenSelectAttrsTransformer(['Pct']).fit_transform(ret_and_rolled_beta_df)
ret_df.tail()
cols = ret_and_rolled_beta_df.columns.get_level_values(0).unique().tolist()

betaFwdCols = [ c for c in cols if re.search('^Beta \d+ rolled fwd$', c) ]


rolled_beta_df = GenSelectAttrsTransformer(betaFwdCols).fit_transform(ret_and_rolled_beta_df)
rolled_beta_df.tail()

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
0

           Open                                          High            \
             FB      AAPL     AMZN NFLX GOOG         SPY   FB      AAPL
Date
2000-01-03  NaN  3.745536  81.5000  NaN  NaN  148.250000  NaN  4.017857
2000-01-04  NaN  3.866071  85.3750  NaN  NaN  143.531204  NaN  3.950893
2000-01-05  NaN  3.705357  70.5000  NaN  NaN  139.937500  NaN  3.948661
2000-01-06  NaN  3.790179  71.3125  NaN  NaN  139.625000  NaN  3.821429
2000-01-07  NaN  3.446429  67.0000  NaN  NaN  140.312500  NaN  3.607143

                            ...    Adj Close                       Volume  \
               AMZN NFLX    ...         AMZN NFLX GOOG         SPY     FB
Date                        ...
2000-01-03  89.5625  NaN    ...      89.3750  NaN  NaN  103.807343    NaN
2000-01-04  91.5000  NaN    ...      81.9375  NaN  NaN   99.747833    NaN
2000-01-05  75.1250  NaN    ...      69.7500  NaN  NaN   99.926254    NaN
2000-01-06  72.6875  NaN    ...      65.5625  NaN  NaN   98.320305    NaN
2000-01-07  70.5000  NaN    ...      69.5625  NaN  NaN  104.030365    NaN


                 AAPL      AMZN NFLX GOOG       SPY
Date
2000-01-03  133949200  16117600  NaN  NaN   8164300
2000-01-04  128094400  17487400  NaN  NaN   8089800
2000-01-05  194580400  38457400  NaN  NaN  12177900
2000-01-06  191993200  18752000  NaN  NaN   6227200
2000-01-07  115183600  10505400  NaN  NaN   8066500

[5 rows x 36 columns]

0

             FB                                      AAPL                      \
           Open High Low Close Adj Close Volume      Open      High       Low
Date
2000-01-03  NaN  NaN NaN   NaN       NaN    NaN  3.745536  4.017857  3.631696
2000-01-04  NaN  NaN NaN   NaN       NaN    NaN  3.866071  3.950893  3.613839
2000-01-05  NaN  NaN NaN   NaN       NaN    NaN  3.705357  3.948661  3.678571
2000-01-06  NaN  NaN NaN   NaN       NaN    NaN  3.790179  3.821429  3.392857
2000-01-07  NaN  NaN NaN   NaN       NaN    NaN  3.446429  3.607143  3.410714

                        ...    GOOG                                SPY  \
               Close    ...     Low Close Adj Close Volume        Open
Date                    ...
2000-01-03  3.997768    ...     NaN   NaN       NaN    NaN  148.250000
2000-01-04  3.660714    ...     NaN   NaN       NaN    NaN  143.531204
2000-01-05  3.714286    ...     NaN   NaN       NaN    NaN  139.937500
2000-01-06  3.392857    ...     NaN   NaN       NaN    NaN  139.625000
2000-01-07  3.553571    ...     NaN   NaN       NaN    NaN  140.312500


                  High         Low     Close   Adj Close    Volume
Date
2000-01-03  148.250000  143.875000  145.4375  103.807343   8164300
2000-01-04  144.062500  139.640594  139.7500   99.747833   8089800
2000-01-05  141.531204  137.250000  140.0000   99.926254  12177900
2000-01-06  141.500000  137.750000  137.7500   98.320305   6227200
2000-01-07  145.750000  140.062500  145.7500  104.030365   8066500

[5 rows x 36 columns]

           Open                                          High            \
             FB      AAPL     AMZN NFLX GOOG         SPY   FB      AAPL
Date
2000-01-03  NaN  3.745536  81.5000  NaN  NaN  148.250000  NaN  4.017857
2000-01-04  NaN  3.866071  85.3750  NaN  NaN  143.531204  NaN  3.950893
2000-01-05  NaN  3.705357  70.5000  NaN  NaN  139.937500  NaN  3.948661
2000-01-06  NaN  3.790179  71.3125  NaN  NaN  139.625000  NaN  3.821429
2000-01-07  NaN  3.446429  67.0000  NaN  NaN  140.312500  NaN  3.607143

                            ...    Adj Close                       Volume  \
               AMZN NFLX    ...         AMZN NFLX GOOG         SPY     FB
Date                        ...
2000-01-03  89.5625  NaN    ...      89.3750  NaN  NaN  103.807343    NaN
2000-01-04  91.5000  NaN    ...      81.9375  NaN  NaN   99.747833    NaN
2000-01-05  75.1250  NaN    ...      69.7500  NaN  NaN   99.926254    NaN
2000-01-06  72.6875  NaN    ...      65.5625  NaN  NaN   98.320305    NaN
2000-01-07  70.5000  NaN    ...      69.5625  NaN  NaN  104.030365    NaN


                 AAPL      AMZN NFLX GOOG       SPY
Date
2000-01-03  133949200  16117600  NaN  NaN   8164300
2000-01-04  128094400  17487400  NaN  NaN   8089800
2000-01-05  194580400  38457400  NaN  NaN  12177900
2000-01-06  191993200  18752000  NaN  NaN   6227200
2000-01-07  115183600  10505400  NaN  NaN   8066500

[5 rows x 36 columns]

             Adj Close                                                    \
                    FB        AAPL         AMZN        NFLX         GOOG
Date
2017-12-22  177.199997  175.009995  1168.359985  189.940002  1060.119995
2017-12-26  175.990005  170.570007  1176.760010  187.759995  1056.739990
2017-12-27  177.619995  170.600006  1182.260010  186.240005  1049.369995
2017-12-28  177.919998  171.080002  1186.099976  192.710007  1048.140015
2017-12-29  176.460007  169.229996  1169.469971  191.960007  1046.400024

                             Pct                                          \
                   SPY        FB      AAPL      AMZN      NFLX      GOOG
Date
2017-12-22  267.510010 -0.001409  0.000000 -0.005448  0.006998 -0.003300
2017-12-26  267.190002 -0.006828 -0.025370  0.007190 -0.011477 -0.003188
2017-12-27  267.320007  0.009262  0.000176  0.004674 -0.008095 -0.006974
2017-12-28  267.869995  0.001689  0.002814  0.003248  0.034740 -0.001172
2017-12-29  266.859985 -0.008206 -0.010814 -0.014021 -0.003892 -0.001660


                 SPY
Date
2017-12-22 -0.000262
2017-12-26 -0.001196
2017-12-27  0.000487
2017-12-28  0.002057
2017-12-29 -0.003771

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

array([ 1.42386037])

-0.00071338708618964939

           Adj Close                                          Pct            \
                  FB      AAPL     AMZN NFLX GOOG         SPY  FB      AAPL
Dt
2000-01-03       NaN  3.583733  89.3750  NaN  NaN  103.807343 NaN       NaN
2000-01-04       NaN  3.281587  81.9375  NaN  NaN   99.747833 NaN -0.084310
2000-01-05       NaN  3.329610  69.7500  NaN  NaN   99.926254 NaN  0.014634
2000-01-06       NaN  3.041471  65.5625  NaN  NaN   98.320305 NaN -0.086538
2000-01-07       NaN  3.185540  69.5625  NaN  NaN  104.030365 NaN  0.047368


                AMZN NFLX GOOG       SPY
Dt
2000-01-03       NaN  NaN  NaN       NaN
2000-01-04 -0.083217  NaN  NaN -0.039106
2000-01-05 -0.148741  NaN  NaN  0.001789
2000-01-06 -0.060036  NaN  NaN -0.016071
2000-01-07  0.061010  NaN  NaN  0.058076

DatetimeIndex(['2000-01-03', '2000-01-04', '2000-01-05', '2000-01-06',
               '2000-01-07', '2000-01-10', '2000-01-11', '2000-01-12',
               '2000-01-13', '2000-01-14',
               ...
               '2017-12-15', '2017-12-18', '2017-12-19', '2017-12-20',
               '2017-12-21', '2017-12-22', '2017-12-26', '2017-12-27',
               '2017-12-28', '2017-12-29'],
              dtype='datetime64[ns]', name='Dt', length=4528, freq=None)

fit: empty dataframe
fit: empty dataframe
fit: empty dataframe

            Beta 0  Beta 1
Dt
2000-02-18     NaN     NaN
2000-03-17     NaN     NaN
2000-04-14     NaN     NaN

           Adj Close                                          Pct            \
                  FB      AAPL     AMZN NFLX GOOG         SPY  FB      AAPL
Dt
2000-01-03       NaN  3.583733  89.3750  NaN  NaN  103.807343 NaN       NaN
2000-01-04       NaN  3.281587  81.9375  NaN  NaN   99.747833 NaN -0.084310
2000-01-05       NaN  3.329610  69.7500  NaN  NaN   99.926254 NaN  0.014634
2000-01-06       NaN  3.041471  65.5625  NaN  NaN   98.320305 NaN -0.086538
2000-01-07       NaN  3.185540  69.5625  NaN  NaN  104.030365 NaN  0.047368


                AMZN NFLX GOOG       SPY
Dt
2000-01-03       NaN  NaN  NaN       NaN
2000-01-04 -0.083217  NaN  NaN -0.039106
2000-01-05 -0.148741  NaN  NaN  0.001789
2000-01-06 -0.060036  NaN  NaN -0.016071
2000-01-07  0.061010  NaN  NaN  0.058076

           Pct
            FB      AAPL      AMZN NFLX GOOG       SPY
Dt
2000-01-04 NaN -0.084310 -0.083217  NaN  NaN -0.039106
2000-01-05 NaN  0.014634 -0.148741  NaN  NaN  0.001789
2000-01-06 NaN -0.086538 -0.060036  NaN  NaN -0.016071
2000-01-07 NaN  0.047368  0.061010  NaN  NaN  0.058076
2000-01-10 NaN -0.017588 -0.005391  NaN  NaN  0.003431

           Pct
            FB      AAPL      AMZN NFLX GOOG       SPY
Dt
2000-01-04 NaN -0.084310 -0.083217  NaN  NaN -0.039106
2000-01-05 NaN  0.014634 -0.148741  NaN  NaN  0.001789
2000-01-06 NaN -0.086538 -0.060036  NaN  NaN -0.016071
2000-01-07 NaN  0.047368  0.061010  NaN  NaN  0.058076
2000-01-10 NaN -0.017588 -0.005391  NaN  NaN  0.003431

([('Pct', 'SPY')],
 [('Pct', 'FB'),
  ('Pct', 'AAPL'),
  ('Pct', 'AMZN'),
  ('Pct', 'NFLX'),
  ('Pct', 'GOOG')])

Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['FB']
Fit: the following columns have naN:  ['NFLX']
Fit: the following columns have naN:  ['NFLX']
Fit: the following columns have naN:  ['NFLX']
Fit: the following columns have naN:  ['NFLX']
Fit: the following columns have naN:  ['NFLX']
Fit: the following columns have naN:  ['NFLX']
Fit: the following columns have naN:  ['NFLX']
Fit: the following columns have naN:  ['NFLX']
Fit: the following columns have naN:  ['NFLX']
Fit: the following columns have naN:  ['NFLX']
Fit: the following columns have naN:  ['NFLX']
Fit: the following columns have naN:  ['NFLX']
Fit: the following columns have naN:  ['NFLX']
Fit: the following columns have naN:  ['NFLX']
Fit: the following columns have naN:  ['NFLX']
Fit: the following columns have naN:  ['NFLX']
Fit: the following columns have naN:  ['NFLX']
Fit: the following columns have naN:  ['NFLX']
Fit: the following columns have naN:  ['NFLX']
Fit: the following columns have naN:  ['NFLX']
Fit: the following columns have naN:  ['NFLX']
Fit: the following columns have naN:  ['NFLX']
Fit: the following columns have naN:  ['NFLX']
Fit: the following columns have naN:  ['NFLX']
Fit: the following columns have naN:  ['NFLX']
Fit: the following columns have naN:  ['NFLX']
Fit: the following columns have naN:  ['NFLX']
Fit: the following columns have naN:  ['NFLX']
Fit: the following columns have naN:  ['NFLX']
Fit: the following columns have naN:  ['NFLX']
Fit: the following columns have naN:  ['NFLX']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']
Fit: the following columns have naN:  ['GOOG']

              Beta 0                                            Beta 1  \
                  FB      AAPL      AMZN      NFLX      GOOG        FB
Dt
2017-09-08  0.000231 -0.000272 -0.000858  0.000910  0.000056  1.288074
2017-10-06 -0.004168 -0.005136 -0.001802  0.000013  0.001119  2.566470
2017-11-03 -0.000019  0.003963  0.001401 -0.000820  0.000439  2.509251
2017-12-01 -0.002488 -0.001837  0.001098 -0.006099 -0.002125  1.164516
2017-12-29 -0.000183 -0.001793 -0.000217  0.000821  0.001072  0.859952


                AAPL      AMZN      NFLX      GOOG
Dt
2017-09-08  1.285798  1.464521  1.292776  1.239199
2017-10-06  2.281003  1.691252  3.312801  0.923909
2017-11-03  1.733427  6.054137  1.734489  2.880951
2017-12-01  1.339091  1.082630  2.177337  0.837844
2017-12-29  1.699265  0.767625  0.908602  1.081924

(234, 10)

DatetimeIndex(['2000-01-03', '2000-01-04', '2000-01-05', '2000-01-06',
               '2000-01-07', '2000-01-10', '2000-01-11', '2000-01-12',
               '2000-01-13', '2000-01-14',
               ...
               '2017-12-15', '2017-12-18', '2017-12-19', '2017-12-20',
               '2017-12-21', '2017-12-22', '2017-12-26', '2017-12-27',
               '2017-12-28', '2017-12-29'],
              dtype='datetime64[ns]', name='Dt', length=4528, freq=None)

DatetimeIndex(['2000-02-18', '2000-03-17', '2000-04-14', '2000-05-12',
               '2000-06-09', '2000-07-07', '2000-08-04', '2000-09-01',
               '2000-09-29', '2000-10-27',
               ...
               '2017-04-21', '2017-05-19', '2017-06-16', '2017-07-14',
               '2017-08-11', '2017-09-08', '2017-10-06', '2017-11-03',
               '2017-12-01', '2017-12-29'],
              dtype='datetime64[ns]', name='Dt', length=234, freq='4W-FRI')

             Adj Close                                                    \
                  AAPL         AMZN          FB         GOOG        NFLX
Dt
2017-12-22  175.009995  1168.359985  177.199997  1060.119995  189.940002
2017-12-26  170.570007  1176.760010  175.990005  1056.739990  187.759995
2017-12-27  170.600006  1182.260010  177.619995  1049.369995  186.240005
2017-12-28  171.080002  1186.099976  177.919998  1048.140015  192.710007
2017-12-29  169.229996  1169.469971  176.460007  1046.400024  191.960007

                          Beta 0                                  ...     \
                   SPY      AAPL      AMZN        FB      GOOG    ...
Dt                                                                ...
2017-12-22  267.510010       NaN       NaN       NaN       NaN    ...
2017-12-26  267.190002       NaN       NaN       NaN       NaN    ...
2017-12-27  267.320007       NaN       NaN       NaN       NaN    ...
2017-12-28  267.869995       NaN       NaN       NaN       NaN    ...
2017-12-29  266.859985 -0.001793 -0.000217 -0.000183  0.001072    ...

              Beta 1                                     Pct            \
                AMZN        FB      GOOG      NFLX      AAPL      AMZN
Dt
2017-12-22       NaN       NaN       NaN       NaN  0.000000 -0.005448
2017-12-26       NaN       NaN       NaN       NaN -0.025370  0.007190
2017-12-27       NaN       NaN       NaN       NaN  0.000176  0.004674
2017-12-28       NaN       NaN       NaN       NaN  0.002814  0.003248
2017-12-29  0.767625  0.859952  1.081924  0.908602 -0.010814 -0.014021


                  FB      GOOG      NFLX       SPY
Dt
2017-12-22 -0.001409 -0.003300  0.006998 -0.000262
2017-12-26 -0.006828 -0.003188 -0.011477 -0.001196
2017-12-27  0.009262 -0.006974 -0.008095  0.000487
2017-12-28  0.001689 -0.001172  0.034740  0.002057
2017-12-29 -0.008206 -0.001660 -0.003892 -0.003771

[5 rows x 22 columns]

(4536, 22)

             Adj Close                                                    \
                  AAPL         AMZN          FB         GOOG        NFLX
Dt
2017-12-22  175.009995  1168.359985  177.199997  1060.119995  189.940002
2017-12-26  170.570007  1176.760010  175.990005  1056.739990  187.759995
2017-12-27  170.600006  1182.260010  177.619995  1049.369995  186.240005
2017-12-28  171.080002  1186.099976  177.919998  1048.140015  192.710007
2017-12-29  169.229996  1169.469971  176.460007  1046.400024  191.960007

                          Beta 0                                  ...     \
                   SPY      AAPL      AMZN        FB      GOOG    ...
Dt                                                                ...
2017-12-22  267.510010       NaN       NaN       NaN       NaN    ...
2017-12-26  267.190002       NaN       NaN       NaN       NaN    ...
2017-12-27  267.320007       NaN       NaN       NaN       NaN    ...
2017-12-28  267.869995       NaN       NaN       NaN       NaN    ...
2017-12-29  266.859985 -0.001793 -0.000217 -0.000183  0.001072    ...

              Beta 1                                     Pct            \
                AMZN        FB      GOOG      NFLX      AAPL      AMZN
Dt
2017-12-22       NaN       NaN       NaN       NaN  0.000000 -0.005448
2017-12-26       NaN       NaN       NaN       NaN -0.025370  0.007190
2017-12-27       NaN       NaN       NaN       NaN  0.000176  0.004674
2017-12-28       NaN       NaN       NaN       NaN  0.002814  0.003248
2017-12-29  0.767625  0.859952  1.081924  0.908602 -0.010814 -0.014021


                  FB      GOOG      NFLX       SPY
Dt
2017-12-22 -0.001409 -0.003300  0.006998 -0.000262
2017-12-26 -0.006828 -0.003188 -0.011477 -0.001196
2017-12-27  0.009262 -0.006974 -0.008095  0.000487
2017-12-28  0.001689 -0.001172  0.034740  0.002057
2017-12-29 -0.008206 -0.001660 -0.003892 -0.003771

[5 rows x 22 columns]

(4536, 22)

             Adj Close                                                    \
                  AAPL         AMZN          FB         GOOG        NFLX
Dt
2017-12-22  175.009995  1168.359985  177.199997  1060.119995  189.940002
2017-12-26  170.570007  1176.760010  175.990005  1056.739990  187.759995
2017-12-27  170.600006  1182.260010  177.619995  1049.369995  186.240005
2017-12-28  171.080002  1186.099976  177.919998  1048.140015  192.710007
2017-12-29  169.229996  1169.469971  176.460007  1046.400024  191.960007

                          Beta 0                                  ...     \
                   SPY      AAPL      AMZN        FB      GOOG    ...
Dt                                                                ...
2017-12-22  267.510010       NaN       NaN       NaN       NaN    ...
2017-12-26  267.190002       NaN       NaN       NaN       NaN    ...
2017-12-27  267.320007       NaN       NaN       NaN       NaN    ...
2017-12-28  267.869995       NaN       NaN       NaN       NaN    ...
2017-12-29  266.859985 -0.001793 -0.000217 -0.000183  0.001072    ...

              Beta 1                                     Pct            \
                AMZN        FB      GOOG      NFLX      AAPL      AMZN
Dt
2017-12-22       NaN       NaN       NaN       NaN  0.000000 -0.005448
2017-12-26       NaN       NaN       NaN       NaN -0.025370  0.007190
2017-12-27       NaN       NaN       NaN       NaN  0.000176  0.004674
2017-12-28       NaN       NaN       NaN       NaN  0.002814  0.003248
2017-12-29  0.767625  0.859952  1.081924  0.908602 -0.010814 -0.014021


                  FB      GOOG      NFLX       SPY
Dt
2017-12-22 -0.001409 -0.003300  0.006998 -0.000262
2017-12-26 -0.006828 -0.003188 -0.011477 -0.001196
2017-12-27  0.009262 -0.006974 -0.008095  0.000487
2017-12-28  0.001689 -0.001172  0.034740  0.002057
2017-12-29 -0.008206 -0.001660 -0.003892 -0.003771

[5 rows x 22 columns]

(4536, 22)

['Beta 0', 'Beta 1']

transform: pandas version <= 0.20.

           Beta 0 rolled fwd                                          \
                        AAPL      AMZN        FB      GOOG      NFLX
Dt
2017-12-22         -0.001837  0.001098 -0.002488 -0.002125 -0.006099
2017-12-26         -0.001837  0.001098 -0.002488 -0.002125 -0.006099
2017-12-27         -0.001837  0.001098 -0.002488 -0.002125 -0.006099
2017-12-28         -0.001837  0.001098 -0.002488 -0.002125 -0.006099
2017-12-29         -0.001793 -0.000217 -0.000183  0.001072  0.000821

           Beta 1 rolled fwd
                        AAPL      AMZN        FB      GOOG      NFLX
Dt
2017-12-22          1.339091  1.082630  1.164516  0.837844  2.177337
2017-12-26          1.339091  1.082630  1.164516  0.837844  2.177337
2017-12-27          1.339091  1.082630  1.164516  0.837844  2.177337
2017-12-28          1.339091  1.082630  1.164516  0.837844  2.177337
2017-12-29          1.699265  0.767625  0.859952  1.081924  0.908602

(4536, 22)

(4536, 10)

             Adj Close                                                    \
                  AAPL         AMZN          FB         GOOG        NFLX
Dt
2017-12-22  175.009995  1168.359985  177.199997  1060.119995  189.940002
2017-12-26  170.570007  1176.760010  175.990005  1056.739990  187.759995
2017-12-27  170.600006  1182.260010  177.619995  1049.369995  186.240005
2017-12-28  171.080002  1186.099976  177.919998  1048.140015  192.710007
2017-12-29  169.229996  1169.469971  176.460007  1046.400024  191.960007

                          Beta 0                                  ...     \
                   SPY      AAPL      AMZN        FB      GOOG    ...
Dt                                                                ...
2017-12-22  267.510010       NaN       NaN       NaN       NaN    ...
2017-12-26  267.190002       NaN       NaN       NaN       NaN    ...
2017-12-27  267.320007       NaN       NaN       NaN       NaN    ...
2017-12-28  267.869995       NaN       NaN       NaN       NaN    ...
2017-12-29  266.859985 -0.001793 -0.000217 -0.000183  0.001072    ...

           Beta 1 rolled fwd                                     Pct  \
                        AMZN        FB      GOOG      NFLX      AAPL
Dt
2017-12-22          1.082630  1.164516  0.837844  2.177337  0.000000
2017-12-26          1.082630  1.164516  0.837844  2.177337 -0.025370
2017-12-27          1.082630  1.164516  0.837844  2.177337  0.000176
2017-12-28          1.082630  1.164516  0.837844  2.177337  0.002814
2017-12-29          0.767625  0.859952  1.081924  0.908602 -0.010814


                AMZN        FB      GOOG      NFLX       SPY
Dt
2017-12-22 -0.005448 -0.001409 -0.003300  0.006998 -0.000262
2017-12-26  0.007190 -0.006828 -0.003188 -0.011477 -0.001196
2017-12-27  0.004674  0.009262 -0.006974 -0.008095  0.000487
2017-12-28  0.003248  0.001689 -0.001172  0.034740  0.002057
2017-12-29 -0.014021 -0.008206 -0.001660 -0.003892 -0.003771

[5 rows x 32 columns]

MultiIndex(levels=[['Adj Close', 'Beta 0', 'Beta 0 rolled fwd', 'Beta 1', 'Beta 1 rolled fwd', 'Pct'], ['AAPL', 'AMZN', 'FB', 'GOOG', 'NFLX', 'SPY']],
           labels=[[0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5], [0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 5]])

                 Pct
                AAPL      AMZN        FB      GOOG      NFLX       SPY
Dt
2017-12-22  0.000000 -0.005448 -0.001409 -0.003300  0.006998 -0.000262
2017-12-26 -0.025370  0.007190 -0.006828 -0.003188 -0.011477 -0.001196
2017-12-27  0.000176  0.004674  0.009262 -0.006974 -0.008095  0.000487
2017-12-28  0.002814  0.003248  0.001689 -0.001172  0.034740  0.002057
2017-12-29 -0.010814 -0.014021 -0.008206 -0.001660 -0.003892 -0.003771

           Beta 0 rolled fwd                                          \
                        AAPL      AMZN        FB      GOOG      NFLX
Dt
2017-12-22         -0.001837  0.001098 -0.002488 -0.002125 -0.006099
2017-12-26         -0.001837  0.001098 -0.002488 -0.002125 -0.006099
2017-12-27         -0.001837  0.001098 -0.002488 -0.002125 -0.006099
2017-12-28         -0.001837  0.001098 -0.002488 -0.002125 -0.006099
2017-12-29         -0.001793 -0.000217 -0.000183  0.001072  0.000821

           Beta 1 rolled fwd
                        AAPL      AMZN        FB      GOOG      NFLX
Dt
2017-12-22          1.339091  1.082630  1.164516  0.837844  2.177337
2017-12-26          1.339091  1.082630  1.164516  0.837844  2.177337
2017-12-27          1.339091  1.082630  1.164516  0.837844  2.177337
2017-12-28          1.339091  1.082630  1.164516  0.837844  2.177337
2017-12-29          1.699265  0.767625  0.859952  1.081924  0.908602

In [9]:
ret_and_rolled_beta_df.columns

MultiIndex(levels=[['Adj Close', 'Beta 0', 'Beta 0 rolled fwd', 'Beta 1', 'Beta 1 rolled fwd', 'Pct'], ['AAPL', 'AMZN', 'FB', 'GOOG', 'NFLX', 'SPY', 'One']],
           labels=[[0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5], [0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 5, 6]])

In [8]:
# Add a constant factor col
ret_and_rolled_beta_df[idx["Pct", "One"]] = 1

In [27]:
betaFwdAttrs
pr = zip(betaFwdAttrs, [ ("Pct", "One"), ("Pct", "SPY")])
for (a, c) in pr:
    print("Attr {}, col {}".format(a,c))

['Beta 0 rolled fwd', 'Beta 1 rolled fwd']

Attr Beta 0 rolled fwd, col ('Pct', 'One')
Attr Beta 1 rolled fwd, col ('Pct', 'SPY')

In [31]:
depAttr = "Pct"
depTickers = ret_and_rolled_beta_df.loc[:, idx[betaFwdAttrs[0]] ].head().columns.tolist()
depTickers
depCols = [ ("Pct", t) for t in depTickers]
depCols

ret_and_rolled_beta_df.loc[:, idx["Pct", depTickers]].tail()
ret_and_rolled_beta_df.loc[:, depCols].tail()

['AAPL', 'AMZN', 'FB', 'GOOG', 'NFLX']

[('Pct', 'AAPL'),
 ('Pct', 'AMZN'),
 ('Pct', 'FB'),
 ('Pct', 'GOOG'),
 ('Pct', 'NFLX')]

                 Pct
                AAPL      AMZN        FB      GOOG      NFLX
Dt
2017-12-22  0.000000 -0.005448 -0.001409 -0.003300  0.006998
2017-12-26 -0.025370  0.007190 -0.006828 -0.003188 -0.011477
2017-12-27  0.000176  0.004674  0.009262 -0.006974 -0.008095
2017-12-28  0.002814  0.003248  0.001689 -0.001172  0.034740
2017-12-29 -0.010814 -0.014021 -0.008206 -0.001660 -0.003892

                 Pct
                AAPL      AMZN        FB      GOOG      NFLX
Dt
2017-12-22  0.000000 -0.005448 -0.001409 -0.003300  0.006998
2017-12-26 -0.025370  0.007190 -0.006828 -0.003188 -0.011477
2017-12-27  0.000176  0.004674  0.009262 -0.006974 -0.008095
2017-12-28  0.002814  0.003248  0.001689 -0.001172  0.034740
2017-12-29 -0.010814 -0.014021 -0.008206 -0.001660 -0.003892

In [137]:
%aimport trans.reg
import trans.reg 
sensAttrs = Reg.sensAttrs(ret_and_rolled_beta_df, '^Beta \d+ rolled fwd$')
sensAttrs

['Beta 0 rolled fwd', 'Beta 1 rolled fwd']

In [138]:
depTickers = Reg.depTickersFromSensAttrs(ret_and_rolled_beta_df, sensAttrs )
depTickers
depCols = [ ("Pct", t) for t in depTickers ]
depCols

['AAPL', 'AMZN', 'FB', 'GOOG', 'NFLX']

[('Pct', 'AAPL'),
 ('Pct', 'AMZN'),
 ('Pct', 'FB'),
 ('Pct', 'GOOG'),
 ('Pct', 'NFLX')]

In [140]:
%aimport trans.reg
import trans.reg
Reg.addConst(ret_and_rolled_beta_df,("Pct", "One"), 1)
#ret_and_rolled_beta_df[("Pct", "One")] = 1

In [141]:
indCols = [ ("Pct", "One"), ("Pct", "SPY")]
indCols

[('Pct', 'One'), ('Pct', 'SPY')]

In [142]:
(df_dep, list_of_ind_dfs, list_of_sens_dfs) = Reg.retAttribSetup(ret_and_rolled_beta_df, 
                       depCols, 
                        indCols, 
                       sensAttrs)

In [143]:
df_dep.tail()

                 Pct
                AAPL      AMZN        FB      GOOG      NFLX
Dt
2017-12-22  0.000000 -0.005448 -0.001409 -0.003300  0.006998
2017-12-26 -0.025370  0.007190 -0.006828 -0.003188 -0.011477
2017-12-27  0.000176  0.004674  0.009262 -0.006974 -0.008095
2017-12-28  0.002814  0.003248  0.001689 -0.001172  0.034740
2017-12-29 -0.010814 -0.014021 -0.008206 -0.001660 -0.003892

In [144]:
len(list_of_ind_dfs)
for df in list_of_ind_dfs:
    print(df.tail())

2

           Pct
           One
Dt
2017-12-22   1
2017-12-26   1
2017-12-27   1
2017-12-28   1
2017-12-29   1
                 Pct
                 SPY
Dt
2017-12-22 -0.000262
2017-12-26 -0.001196
2017-12-27  0.000487
2017-12-28  0.002057
2017-12-29 -0.003771

In [145]:
len(list_of_sens_dfs)
for df in list_of_sens_dfs:
    print(df.tail())

2

           Beta 0 rolled fwd
                        AAPL      AMZN        FB      GOOG      NFLX
Dt
2017-12-22         -0.001837  0.001098 -0.002488 -0.002125 -0.006099
2017-12-26         -0.001837  0.001098 -0.002488 -0.002125 -0.006099
2017-12-27         -0.001837  0.001098 -0.002488 -0.002125 -0.006099
2017-12-28         -0.001837  0.001098 -0.002488 -0.002125 -0.006099
2017-12-29         -0.001793 -0.000217 -0.000183  0.001072  0.000821
           Beta 1 rolled fwd
                        AAPL      AMZN        FB      GOOG      NFLX
Dt
2017-12-22          1.339091  1.082630  1.164516  0.837844  2.177337
2017-12-26          1.339091  1.082630  1.164516  0.837844  2.177337
2017-12-27          1.339091  1.082630  1.164516  0.837844  2.177337
2017-12-28          1.339091  1.082630  1.164516  0.837844  2.177337
2017-12-29          1.699265  0.767625  0.859952  1.081924  0.908602